<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE HTML>
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en' lang='en'>
  <head>
    <title>Observation.Component</title>
    <meta http-equiv='X-UA-Compatible' content='IE=9' />
    <link rel='icon' type='image/ico' href='../resources/favicon.ico' />
    <link rel='stylesheet' type='text/css' href='../stylesheet.css' title='Style' />
    <link rel='stylesheet' type='text/css' href='../font-awesome/css/font-awesome.min.css' />
  </head>
  <body>
<!-- ========= START OF TOP NAVBAR ======= -->
    <div class='topNav'>
      <a name='navbar_top'>
<!--   -->
</a>
      <ul class='navList' title='Navigation'>
        <li>
          <a href='../overview-summary.html'>Overview</a>
        </li>
        <li class='navBarCell1Rev'>Class</li>
        <li>
          <a href='../index-files.html'>Index</a>
        </li>
      </ul>
      <div class='aboutLanguage'>QUICK</div>
    </div>
    <div class='subNav'>
      <ul class='navList'>
        <li>
          <a target='_top' href='../index.html?pages/Observation.Component.html'>FRAMES</a>&nbsp;&nbsp;
          <a target='_top' href='Observation.Component.html'>NO FRAMES</a>
        </li>
      </ul>
      <div><!--   --></div>
    </div>
<!-- ========= END OF TOP NAVBAR ========= -->
<!-- ======== START OF CLASS DATA ======== -->
    <div class='header'>
      <h2 title='Class Observation.Component' class='title'><a href="Observation.html">Observation</a>.Component</h2>
    </div>
    <div class='contentContainer'>
      <div class='description'>
        <ul class='blockList'>
          <li class='blockList' style='font-size:115%;'>Component results
            <p />Some observations have multiple component observations.  These component observations are expressed as separate code value pairs that share the same attributes.  Examples include systolic and diastolic component observations for blood pressure measurement and multiple component observations for genetics observations.
          </li>
        </ul>
      </div>
      <div class='summary'>
        <ul class='blockList'>
          <li class='blockList'>
            <ul class='blockList'>
              <li class='blockList'>
<!-- =========== FIELD SUMMARY =========== -->
                <a name='field_summary'><!--   --></a>
<p style="margin: 10px">Key: <i class="fa fa-check fa-fw"></i>&nbsp;=&nbsp;Must support, <i
 class="fa fa-star fa-fw"></i>&nbsp;=&nbsp;QICore-defined extension, <i class="fa fa-exclamation fa-fw"></i>&nbsp;=&nbsp;Is-Modifier</p>
<table class="overviewSummary" border="0" cellpadding="3" cellspacing="0"
 summary="Field Summary table, listing fields, and an explanation">
<tr>
<th class="colFirst" scope="col"><i class="fa fa-fw"></i><i class="fa fa-fw"></i><i class="fa fa-fw"></i>&nbsp;Field</th>
<th class="colLast" scope="col" style="border-right-width: 0px">Card.</th>
<th class="colLast" scope="col">Type and Description
<span style="float: right"><a title="Legend for this format" href="../help.html"><img alt="doco" border="0" src="../resources/help16.png"/></a></span></th>
</tr>

                <tr class='altColor'>
                  <td class='colFirst'><i class="fa fa-fw"></i><i class="fa fa-fw"></i><i class="fa fa-fw"></i>&nbsp;
                    <strong>
                      <a name='code'>code</a>
                    </strong>
                  </td>
                  <td class='colMid'>
                    <code>1..1</code>
                  </td>
                  <td class='colLast'>
                    <code>Concept</code>
                    <blockquote>
                      <div class='block'>Describes what was observed. Sometimes this is called the observation "code".
<p>Binding: <a title="Codes identifying names of simple observations." href="http://hl7.org/fhir/STU3/valueset-observation-codes.html">LOINC Codes</a> (Example)</p></div>
                    </blockquote>
                  </td>
                </tr>
                <tr class='rowColor'>
                  <td class='colFirst'><i class="fa fa-fw"></i><i class="fa fa-fw"></i><i class="fa fa-fw"></i>&nbsp;
                    <strong>
                      <a name='dataAbsentReason'>dataAbsentReason</a>
                    </strong>
                  </td>
                  <td class='colMid'>
                    <code>0..1</code>
                  </td>
                  <td class='colLast'>
                    <code>Concept</code>
                    <blockquote>
                      <div class='block'>Provides a reason why the expected value in the element Observation.value[x] is missing.
<p>Binding: <a title="Codes specifying why the result (Observation.value[x]) is missing." href="http://hl7.org/fhir/STU3/valueset-observation-valueabsentreason.html">Observation Value Absent Reason</a> (Extensible)</p></div>
                    </blockquote>
                  </td>
                </tr>
                <tr class='altColor'>
                  <td class='colFirst'><i class="fa fa-fw"></i><i class="fa fa-fw"></i><i class="fa fa-fw"></i>&nbsp;
                    <strong>
                      <a name='id'>id</a>
                    </strong>
                  </td>
                  <td class='colMid'>
                    <code>0..1</code>
                  </td>
                  <td class='colLast'>
                    <code>String</code>
                    <blockquote>
                      <div class='block'>unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.</div>
                    </blockquote>
                  </td>
                </tr>
                <tr class='rowColor'>
                  <td class='colFirst'><i class="fa fa-fw"></i><i class="fa fa-fw"></i><i class="fa fa-fw"></i>&nbsp;
                    <strong>
                      <a name='interpretation'>interpretation</a>
                    </strong>
                  </td>
                  <td class='colMid'>
                    <code>0..1</code>
                  </td>
                  <td class='colLast'>
                    <code>Concept</code>
                    <blockquote>
                      <div class='block'>The assessment made based on the result of the observation.  Intended as a simple compact code often placed adjacent to the result value in reports and flow sheets to signal the meaning/normalcy status of the result. Otherwise known as abnormal flag.
<p>Binding: <a title="Codes identifying interpretations of observations." href="http://hl7.org/fhir/STU3/valueset-observation-interpretation.html">Observation Interpretation Codes</a> (Extensible)</p></div>
                    </blockquote>
                  </td>
                </tr>
                <tr class='altColor'>
                  <td class='colFirst'><i class="fa fa-fw"></i><i class="fa fa-fw"></i><i class="fa fa-fw"></i>&nbsp;
                    <strong>
                      <a name='referenceRange'>referenceRange</a>
                    </strong>
                  </td>
                  <td class='colMid'>
                    <code>0..*</code>
                  </td>
                  <td class='colLast'>Element
                    <blockquote>
                      <div class='block'>Guidance on how to interpret the value by comparison to a normal or recommended range.</div>
                    </blockquote>
                  </td>
                </tr>
                <tr class='rowColor'>
                  <td class='colFirst'><i class="fa fa-fw"></i><i class="fa fa-fw"></i><i class="fa fa-fw"></i>&nbsp;
                    <strong>
                      <a name='value_x_'>value[x]</a>
                    </strong>
                  </td>
                  <td class='colMid'>
                    <code>0..1</code>
                  </td>
                  <td class='colLast'>
                    <code><a href='Quantity.html'>Quantity</a> | Concept | String | interval&lt;Quantity&gt; | <a href='Ratio.html'>Ratio</a> | <a href='SampledData.html'>SampledData</a> | <a href='Attachment.html'>Attachment</a> | Time | DateTime | interval&lt;DateTime&gt;</code>
                    <blockquote>
                      <div class='block'>The information determined as a result of making the observation, if the information has a simple value.</div>
                    </blockquote>
                  </td>
                </tr></table>
<p style="margin: 10px">Key: <i class="fa fa-check fa-fw"></i>&nbsp;=&nbsp;Must support, <i
 class="fa fa-star fa-fw"></i>&nbsp;=&nbsp;QICore-defined extension, <i class="fa fa-exclamation fa-fw"></i>&nbsp;=&nbsp;Is-Modifier</p>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
<!-- ======= START OF BOTTOM NAVBAR ====== -->
<div class="bottomNav">
<span class="legalCopy"><small><font size="-1">
        &copy; HL7.org 2011+. QUICK Generated on Fri, Aug 05, 2016 9:03AM.
        </font>
</small></span>
</div>
<!-- ======== END OF BOTTOM NAVBAR ======= -->

  </body>
</html>