 <div id="segment-header" class="segment">  <!-- segment-header -->
  <div class="container">  <!-- container -->
   <a id="logo" no-external="true" href="http://hl7.org/fhir"><img alt="logo fhir" src=".././assets/images/fhir-logo-www.png"/> </a>
   <div id="hl7-status">
    <b>NEHTA Implementation Guide: {{{{page.category}}</b> 
   </div>

   <div id="hl7-nav">
     <a id="hl7-logo" no-external="true" href="http://www.hl7.org">
     <img height="50" alt="visit the hl7 website" width="42" src=".././assets/images/hl7-logo.png"/>
    </a>
   </div>
   <div id="hl7-nav"><a id="hl7-logo" no-external="true" href="http://hl7.org/fhir/search.cfm"><img alt="Search FHIR" src="./../assets/images/search.png"/></a></div>
  </div>
  <div class="container">  <!-- container -->
 </div></div>  <!-- /segment-header -->
