<?xml version="1.0" encoding="UTF-8"?>
<div style="col-9">
   <table style="border: 0px; font-size: 11px; font-family: verdana; vertical-align: top;"
          cellpadding="0"
          border="0"
          cellspacing="0">
      <tbody>
         <tr style="border: 0px; padding:0px; vertical-align: top; background-color: white;">
            <td style="vertical-align: top; text-align : left; background-color: white; padding:0px 4px 0px 4px; white-space: nowrap; background-image: url(tbl_bck0.png)"
                class="hierarchy">
               <img style="background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="tbl_spacer.png"/>
               <img style="background-color: white; background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="icon_page.gif"/>
               <a title="SDC Home Page" href="sdc.html">0 SDC Home Page</a>
            </td>
         </tr>
         <tr style="border: 0px; padding:0px; vertical-align: top; background-color: white;">
            <td style="vertical-align: top; text-align : left; background-color: white; padding:0px 4px 0px 4px; white-space: nowrap; background-image: url(tbl_bck0.png)"
                class="hierarchy">
               <img style="background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="tbl_spacer.png"/>
               <img style="background-color: white; background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="icon_page.gif"/>
               <a title="Introduction" href="sdc-intro.html">1 Introduction</a>
            </td>
         </tr>
         <tr style="border: 0px; padding:0px; vertical-align: top; background-color: white;">
            <td style="vertical-align: top; text-align : left; background-color: white; padding:0px 4px 0px 4px; white-space: nowrap; background-image: url(tbl_bck0.png)"
                class="hierarchy">
               <img style="background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="tbl_spacer.png"/>
               <img style="background-color: white; background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="icon_page.gif"/>
               <a title="Security Details" href="sdc-security.html">2 Security Details</a>
            </td>
         </tr>
         <tr style="border: 0px; padding:0px; vertical-align: top; background-color: white;">
            <td style="vertical-align: top; text-align : left; background-color: white; padding:0px 4px 0px 4px; white-space: nowrap; background-image: url(tbl_bck0.png)"
                class="hierarchy">
               <img style="background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="tbl_spacer.png"/>
               <img style="background-color: white; background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="icon_page.gif"/>
               <a title="Data Element" href="dataelement-sdc.html">3 Data Element</a>
            </td>
         </tr>
         <tr style="border: 0px; padding:0px; vertical-align: top; background-color: white;">
            <td style="vertical-align: top; text-align : left; background-color: white; padding:0px 4px 0px 4px; white-space: nowrap; background-image: url(tbl_bck0.png)"
                class="hierarchy">
               <img style="background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="tbl_spacer.png"/>
               <img style="background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="tbl_vjoin.png"/>
               <img style="background-color: white; background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="icon_page.gif"/>
               <a title="Data Element Details" href="sdc-element.html">3.1 Data Element Details</a>
            </td>
         </tr>
         <tr style="border: 0px; padding:0px; vertical-align: top; background-color: white;">
            <td style="vertical-align: top; text-align : left; background-color: white; padding:0px 4px 0px 4px; white-space: nowrap; background-image: url(tbl_bck0.png)"
                class="hierarchy">
               <img style="background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="tbl_spacer.png"/>
               <img style="background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="tbl_vline.png"/>
               <img style="background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="tbl_vjoin.png"/>
               <img style="background-color: white; background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="icon_page.gif"/>
               <a title="C-CDA-Gender" href="dataelement-sdc-profile-example.html">3.1.1 Example: C-CDA-Gender</a>
            </td>
         </tr>
         <tr style="border: 0px; padding:0px; vertical-align: top; background-color: white;">
            <td style="vertical-align: top; text-align : left; background-color: white; padding:0px 4px 0px 4px; white-space: nowrap; background-image: url(tbl_bck0.png)"
                class="hierarchy">
               <img style="background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="tbl_spacer.png"/>
               <img style="background-color: white; background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="icon_page.gif"/>
               <a title="Questionnaire" href="questionnaire-sdc.html">4 Questionnaire</a>
            </td>
         </tr>
         <tr style="border: 0px; padding:0px; vertical-align: top; background-color: white;">
            <td style="vertical-align: top; text-align : left; background-color: white; padding:0px 4px 0px 4px; white-space: nowrap; background-image: url(tbl_bck0.png)"
                class="hierarchy">
               <img style="background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="tbl_spacer.png"/>
               <img style="background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="tbl_vjoin.png"/>
               <img style="background-color: white; background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="icon_page.gif"/>
               <a title="Questionnaire Details" href="sdc-questionnaire.html">4.1 Questionnaire Details</a>
            </td>
         </tr>
         <tr style="border: 0px; padding:0px; vertical-align: top; background-color: white;">
            <td style="vertical-align: top; text-align : left; background-color: white; padding:0px 4px 0px 4px; white-space: nowrap; background-image: url(tbl_bck0.png)"
                class="hierarchy">
               <img style="background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="tbl_spacer.png"/>
               <img style="background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="tbl_vline.png"/>
               <img style="background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="tbl_vjoin.png"/>
               <img style="background-color: white; background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="icon_page.gif"/>
               <a title="SDC - Combination" href="questionnaire-sdc-profile-example.html">4.1.1 Example: SDC - Combination</a>
            </td>
         </tr>
         <tr style="border: 0px; padding:0px; vertical-align: top; background-color: white;">
            <td style="vertical-align: top; text-align : left; background-color: white; padding:0px 4px 0px 4px; white-space: nowrap; background-image: url(tbl_bck0.png)"
                class="hierarchy">
               <img style="background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="tbl_spacer.png"/>
               <img style="background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="tbl_vline.png"/>
               <img style="background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="tbl_vjoin.png"/>
               <img style="background-color: white; background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="icon_page.gif"/>
               <a title="SDC-Pathology" href="questionnaire-sdc-profile-example-cap.html">4.1.2 Example: SDC-Pathology</a>
            </td>
         </tr>
         <tr style="border: 0px; padding:0px; vertical-align: top; background-color: white;">
            <td style="vertical-align: top; text-align : left; background-color: white; padding:0px 4px 0px 4px; white-space: nowrap; background-image: url(tbl_bck0.png)"
                class="hierarchy">
               <img style="background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="tbl_spacer.png"/>
               <img style="background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="tbl_vline.png"/>
               <img style="background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="tbl_vjoin.png"/>
               <img style="background-color: white; background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="icon_page.gif"/>
               <a title="SDC-LOINC AHRQ"
                  href="questionnaire-sdc-profile-example-loinc.html">4.1.3 Example: SDC-LOINC AHRQ</a>
            </td>
         </tr>
         <tr style="border: 0px; padding:0px; vertical-align: top; background-color: white;">
            <td style="vertical-align: top; text-align : left; background-color: white; padding:0px 4px 0px 4px; white-space: nowrap; background-image: url(tbl_bck0.png)"
                class="hierarchy">
               <img style="background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="tbl_spacer.png"/>
               <img style="background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="tbl_vline.png"/>
               <img style="background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="tbl_vjoin.png"/>
               <img style="background-color: white; background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="icon_page.gif"/>
               <a title="SDC-LOINC USSG Family History"
                  href="questionnaire-sdc-profile-example-ussg-fht.html">4.1.4 Example: SDC-LOINC USSG Family History</a>
            </td>
         </tr>
         <tr style="border: 0px; padding:0px; vertical-align: top; background-color: white;">
            <td style="vertical-align: top; text-align : left; background-color: white; padding:0px 4px 0px 4px; white-space: nowrap; background-image: url(tbl_bck0.png)"
                class="hierarchy">
               <img style="background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="tbl_spacer.png"/>
               <img style="background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="tbl_vjoin.png"/>
               <img style="background-color: white; background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="icon_page.gif"/>
               <a title="Extension: Where to send answers"
                  href="extension-sdc-questionnaire-endpoint.html">4.2 Extension: Where to send answers</a>
            </td>
         </tr>
         <tr style="border: 0px; padding:0px; vertical-align: top; background-color: white;">
            <td style="vertical-align: top; text-align : left; background-color: white; padding:0px 4px 0px 4px; white-space: nowrap; background-image: url(tbl_bck0.png)"
                class="hierarchy">
               <img style="background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="tbl_spacer.png"/>
               <img style="background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="tbl_vjoin.png"/>
               <img style="background-color: white; background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="icon_page.gif"/>
               <a title="Extension: header | footer"
                  href="extension-sdc-questionnaire-specialGroup.html">4.3 Extension: header | footer</a>
            </td>
         </tr>
         <tr style="border: 0px; padding:0px; vertical-align: top; background-color: white;">
            <td style="vertical-align: top; text-align : left; background-color: white; padding:0px 4px 0px 4px; white-space: nowrap; background-image: url(tbl_bck0.png)"
                class="hierarchy">
               <img style="background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="tbl_spacer.png"/>
               <img style="background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="tbl_vjoin.png"/>
               <img style="background-color: white; background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="icon_page.gif"/>
               <a title="Extension: Can suppress from display to user"
                  href="extension-sdc-questionnaire-optionalDisplay.html">4.4 Extension: Can suppress from display to user</a>
            </td>
         </tr>
         <tr style="border: 0px; padding:0px; vertical-align: top; background-color: white;">
            <td style="vertical-align: top; text-align : left; background-color: white; padding:0px 4px 0px 4px; white-space: nowrap; background-image: url(tbl_bck0.png)"
                class="hierarchy">
               <img style="background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="tbl_spacer.png"/>
               <img style="background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="tbl_vjoin.png"/>
               <img style="background-color: white; background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="icon_page.gif"/>
               <a title="Extension: Is associated Provenance needed?"
                  href="extension-sdc-questionnaire-provenanceSignatureRequired.html">4.5 Extension: Is associated Provenance needed?</a>
            </td>
         </tr>
         <tr style="border: 0px; padding:0px; vertical-align: top; background-color: white;">
            <td style="vertical-align: top; text-align : left; background-color: white; padding:0px 4px 0px 4px; white-space: nowrap; background-image: url(tbl_bck0.png)"
                class="hierarchy">
               <img style="background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="tbl_spacer.png"/>
               <img style="background-color: white; background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="icon_page.gif"/>
               <a title="Questionnaire Response" href="questionnaireresponse-sdc.html">5 Questionnaire Response</a>
            </td>
         </tr>
         <tr style="border: 0px; padding:0px; vertical-align: top; background-color: white;">
            <td style="vertical-align: top; text-align : left; background-color: white; padding:0px 4px 0px 4px; white-space: nowrap; background-image: url(tbl_bck0.png)"
                class="hierarchy">
               <img style="background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="tbl_spacer.png"/>
               <img style="background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="tbl_vjoin.png"/>
               <img style="background-color: white; background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="icon_page.gif"/>
               <a title="Questionnaire Response Details" href="sdc-response.html">5.1 Questionnaire Response Details</a>
            </td>
         </tr>
         <tr style="border: 0px; padding:0px; vertical-align: top; background-color: white;">
            <td style="vertical-align: top; text-align : left; background-color: white; padding:0px 4px 0px 4px; white-space: nowrap; background-image: url(tbl_bck0.png)"
                class="hierarchy">
               <img style="background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="tbl_spacer.png"/>
               <img style="background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="tbl_vline.png"/>
               <img style="background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="tbl_vjoin.png"/>
               <img style="background-color: white; background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="icon_page.gif"/>
               <a title="SDC - Response to Diagnosis NCI Standard Template"
                  href="questionnaireresponse-sdc-profile-example.html">5.1.1 Example: SDC - Response to Diagnosis NCI Standard Template</a>
            </td>
         </tr>
         <tr style="border: 0px; padding:0px; vertical-align: top; background-color: white;">
            <td style="vertical-align: top; text-align : left; background-color: white; padding:0px 4px 0px 4px; white-space: nowrap; background-image: url(tbl_bck0.png)"
                class="hierarchy">
               <img style="background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="tbl_spacer.png"/>
               <img style="background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="tbl_vline.png"/>
               <img style="background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="tbl_vjoin.png"/>
               <img style="background-color: white; background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="icon_page.gif"/>
               <a title="SDC-LOINC USSG Familiy History Response"
                  href="questionnaireresponse-sdc-example-ussg-fht-answers.html">5.1.2 Example: SDC-LOINC USSG Familiy History Response</a>
            </td>
         </tr>
         <tr style="border: 0px; padding:0px; vertical-align: top; background-color: white;">
            <td style="vertical-align: top; text-align : left; background-color: white; padding:0px 4px 0px 4px; white-space: nowrap; background-image: url(tbl_bck0.png)"
                class="hierarchy">
               <img style="background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="tbl_spacer.png"/>
               <img style="background-color: white; background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="icon_page.gif"/>
               <a title="Value Set" href="valueset-sdc.html">6 Value Set</a>
            </td>
         </tr>
         <tr style="border: 0px; padding:0px; vertical-align: top; background-color: white;">
            <td style="vertical-align: top; text-align : left; background-color: white; padding:0px 4px 0px 4px; white-space: nowrap; background-image: url(tbl_bck0.png)"
                class="hierarchy">
               <img style="background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="tbl_spacer.png"/>
               <img style="background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="tbl_vjoin.png"/>
               <img style="background-color: white; background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="icon_page.gif"/>
               <a title="Value Set Details" href="sdc-valueset.html">6.1 Value Set Details</a>
            </td>
         </tr>
         <tr style="border: 0px; padding:0px; vertical-align: top; background-color: white;">
            <td style="vertical-align: top; text-align : left; background-color: white; padding:0px 4px 0px 4px; white-space: nowrap; background-image: url(tbl_bck0.png)"
                class="hierarchy">
               <img style="background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="tbl_spacer.png"/>
               <img style="background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="tbl_vline.png"/>
               <img style="background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="tbl_vjoin.png"/>
               <img style="background-color: white; background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="icon_page.gif"/>
               <a title="SDC-ValueSet AHRQ_Medication_Q1"
                  href="valueset-sdc-profile-example.html">6.1.1 Example: SDC-ValueSet AHRQ_Medication_Q1</a>
            </td>
         </tr>
         <tr style="border: 0px; padding:0px; vertical-align: top; background-color: white;">
            <td style="vertical-align: top; text-align : left; background-color: white; padding:0px 4px 0px 4px; white-space: nowrap; background-image: url(tbl_bck0.png)"
                class="hierarchy">
               <img style="background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="tbl_spacer.png"/>
               <img style="background-color: white; background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="icon_page.gif"/>
               <a title="List of Artifacts" href="registry.html">7 List of Artifacts</a>
            </td>
         </tr>
         <tr style="border: 0px; padding:0px; vertical-align: top; background-color: white;">
            <td style="vertical-align: top; text-align : left; background-color: white; padding:0px 4px 0px 4px; white-space: nowrap; background-image: url(tbl_bck0.png)"
                class="hierarchy">
               <img style="background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="tbl_spacer.png"/>
               <img style="background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="tbl_vjoin.png"/>
               <img style="background-color: white; background-color: inherit"
                    alt="."
                    class="hierarchy"
                    src="icon_page.gif"/>
               <a title="DEX Mimetype" href="valueset-dex-mimetype.html">7.1 DEX Mimetype</a>
            </td>
         </tr>
      </tbody>
   </table>
</div>
