<!DOCTYPE HTML>
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{page.title}}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="author" content="http://hl7.org/fhir"/>

  <link href="fhir.css" rel="stylesheet"/>
 
  <link href="css/bootstrap.css" rel="stylesheet"/>
  <link href="css/bootstrap-fhir.css" rel="stylesheet"/>
  <link href="css/project.css" rel="stylesheet"/>
</head>

<body>
 <div id="segment-breadcrumb" class="segment">  <!-- segment-breadcrumb -->
  <div class="container">  <!-- container -->
   <ul class="breadcrumb">
        <li title="Home Page"><a href="index.html"><b>Home</b></a></li>
        <li title="Code Systems"><a href="codesystems.html"><b>Code Systems</b></a></li>
        <li title="Value Sets"><a href="valuesets.html"><b>Value Sets</b></a></li>
        <li title="Profile 1"><a href="profile-sd.html"><b>Profile 1</b></a></li>

   </ul>
  </div>  <!-- /container -->
 </div>  <!-- /segment-breadcrumb -->

<div id="segment-content" class="segment">  <!-- segment-content -->
<div class="container">  <!-- container -->
<div class="row">
<div class="inner-wrapper">
<div class="col-9">



