---
---
<!DOCTYPE HTML>
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Daf-Core\daf-core - FHIR v1.5.0</title>

  {% include header.html %}

</head>
<body>
{% include navbar.html %}

 <div id="segment-breadcrumb" class="segment">  <!-- segment-breadcrumb -->
  <div class="container">  <!-- container -->
   <ul class="breadcrumb">
          <!-- daf\daf / page / daf -->
        <li title="Data Access Framework"><b>DAF</b></li>

   </ul>
  </div>  <!-- /container -->
 </div>  <!-- /segment-breadcrumb -->

 <div id="segment-content" class="segment">  <!-- segment-content -->
 <div class="container">  <!-- container -->
            <div class="row">
             <div class="inner-wrapper">


               <div class="col-9">
               <!-- Begin CONTENT -->

<h2>DAF-Core {{page.tcode}} Example: {{page.example}}</h2>

<p>
This is the narrative for the resource. See also the <a href="daf-core-{{page.type}}-example-{{page.example}}-xml.html">XML</a> or <a href="daf-core-{{page.type}}-example-{{page.example}}-json.html">JSON</a><!--or <a href="{{page.type}}-example-{{page.example}}-ttl.html">Turtle</a>--> format. This example conforms to the profile {{page.tcode}}.

</p>

{% include {{page.type}}-{{page.example}}-html.xhtml %}
<!--end content-->

<p>Usage note: every effort has been made to ensure that the examples are correct and useful, but they are not a normative part of the specification.</p>

</div>


   </div>  <!-- /inner-wrapper -->
           </div>  <!-- /row -->
       </div>  <!-- /container -->

   </div>  <!-- /segment-content -->



{% include footer.html %}
</body>
</html>
