<!DOCTYPE html>
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
   <meta charset="UTF-8"/>
  <title>StructureDefinition: DAF-{{page.name}} - FHIR v1.5.0</title>

  {% include header.html %}

</head>
<body>
{% include navbar.html %}

 <div id="segment-breadcrumb" class="segment">  <!-- segment-breadcrumb -->
  <div class="container">  <!-- container -->
   <ul class="breadcrumb">
          <!-- daf-{{page.code}} / profile:{{page.name}}/{{page.code}}-daf/daf-{{page.code}} / U.S. Data Access Framework (DAF) {{page.name}} Profile -->
        <li title="Data Access Framework"><a href="daf.html"><b>DAF</b></a></li>
        <li><a href="{{page.code}}-daf.html"><b>{{page.title}}</b></a></li>
        <li><a href="daf-{{page.code}}.html"><b>{{page.title}} Profile</b></a></li>
        <li><b>{{page.title}} Mappings</b></li>

   </ul>
  </div>  <!-- /container -->
 </div>  <!-- /segment-breadcrumb -->


 <div id="segment-content" class="segment">  <!-- segment-content -->
 <div class="container">  <!-- container -->
            <div class="row">
             <div class="inner-wrapper">
  <!-- CONTENT CONTENT -->

<div class="col-9">

<ul class="nav nav-tabs"><li><a href="daf-{{page.code}}.html">Content</a></li><li><a href="daf-{{page.code}}-definitions.html">Detailed Descriptions</a></li><li class="active"><a href="#">Mappings</a></li><li><a href="StructureDefinition-{{page.id}}.xml.html">XML</a></li><li><a href="StructureDefinition-{{page.id}}.json.html">JSON</a></li></ul>

<h4><span class="sectioncount">D.4.1.4<a name="D.4.1.4"> </a></span> StructureDefinition: DAF-{{page.tcode}} - Mappings <a title="link to here" class="self-link" href="daf-{{page.code}}-definitions.html#D.4.1.4"><img src="target.png"/></a></h4>

<p>Mappings for the daf-{{page.code}} Profile.</p>

{%include StructureDefinition-daf-{{page.code}}-maps.xhtml%}

</div>

    </div>  <!-- /inner-wrapper -->
            </div>  <!-- /row -->
        </div>  <!-- /container -->

    </div>  <!-- /segment-content --> 
{% include footer.html %}
</body>
</html>