<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	version="3.0" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee ./xsd/web-app_3_0.xsd">

	<servlet>
		<servlet-name>org.hl7.fhir.igweb.servlet.UploadServlet</servlet-name>
		<servlet-class>org.hl7.fhir.igweb.servlet.UploadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>org.hl7.fhir.igweb.servlet.WorkingServlet</servlet-name>
		<servlet-class>org.hl7.fhir.igweb.servlet.WorkingServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>org.hl7.fhir.igweb.servlet.FailedServlet</servlet-name>
		<servlet-class>org.hl7.fhir.igweb.servlet.FailedServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>org.hl7.fhir.igweb.servlet.FinishedServlet</servlet-name>
		<servlet-class>org.hl7.fhir.igweb.servlet.FinishedServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>org.hl7.fhir.igweb.servlet.DownloadServlet</servlet-name>
		<servlet-class>org.hl7.fhir.igweb.servlet.DownloadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>org.hl7.fhir.igweb.servlet.HomeServlet</servlet-name>
		<servlet-class>org.hl7.fhir.igweb.servlet.HomeServlet</servlet-class>
	</servlet>

  <!-- Mappings -->
	<servlet-mapping>
		<servlet-name>org.hl7.fhir.igweb.servlet.UploadServlet</servlet-name>
		<url-pattern>/upload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>org.hl7.fhir.igweb.servlet.WorkingServlet</servlet-name>
		<url-pattern>/working</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>org.hl7.fhir.igweb.servlet.FailedServlet</servlet-name>
		<url-pattern>/failed</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>org.hl7.fhir.igweb.servlet.FinishedServlet</servlet-name>
		<url-pattern>/finished</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>org.hl7.fhir.igweb.servlet.DownloadServlet</servlet-name>
		<url-pattern>/download</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>org.hl7.fhir.igweb.servlet.HomeServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

</web-app>
