---
---
{% include fragment-pagebegin.html %}
<div class="col-9">
  <ul class="nav nav-tabs">
    <li>
      <a href="extension-{{[id]}}.html">Content</a>
    </li>
    <li class="active">
      <a href="#">Detailed Descriptions</a>
    </li>
    <li>
      <a href="extension-{{[id]}}-mappings.html">Mappings</a>
    </li>
    <li>
      <a href="extension-{{[id]}}.profile.xml.html">XML</a>
    </li>
    <li>
      <a href="extension-{{[id]}}.profile.json.html">JSON</a>
    </li>
  </ul>
  <h4>
    <span class="sectioncount">{{site.data.pages[page.path].label}}.4<a name="{{site.data.pages[page.path].label}}.4"> </a>
    </span> Extension: {{[title]}} - Detailed Descriptions <a title="link to here" class="self-link" href="extension-{{[id]}}-definitions.html#{{site.data.pages[page.path].label}}.4">
      <img src="target.png"/>
    </a>
  </h4>
  <p>Definitions for the {{[id]}} Extension</p>
  {%include StructureDefinition-{{[id]}}-dict.xhtml%}
</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}