<div class="col-9">
  <h2>Structured Data Capture Data Capture</h2>
  <div>
    <a name="scope"/>
    <h3>Scope and Usage</h3>
    <p>
      This profile sets expectations for use of the <a href="{{site.data.fhir.path}}questionnaireresponse.html">QuestionnaireResponse</a> resource within the 
      <a href="sdc.html">Structured Data Capture</a> implementation guide.  This includes
      identifying which core elements and extensions must be supported.
    </p>
    <p>
      For the purposes of this profile, <i>Supported</i> means that clients SHALL be capable of processing the element/extension and use the information to control the display
      and information capture associated with the <a href="{{site.data.fhir.path}}questionnaireresponse.html">QuestionnaireResponse</a> resource.  It means that servers SHALL be capable of persisting those elements and returning them in response
      to requests.
    </p>
  </div>
  <div>
    <a name="boundaries"/>
    <h3>Boundaries and Relationships</h3>
    <p>
      This profile is related to the <a href="questionnaire-sdc.html">SDC Questionnaire Profile</a> which defines the characteristic of a form &quot;design&quot;.  This
      profile focuses on the constraints appropriate to capturing the &quot;answer(s)&quot; to a pre-defined form.
    </p>
  </div>
  <a name="content"> </a>
  <h3>Content</h3>
  <table class="lines">
    <tr>
      <td colspan="2">
        <b>Profiles</b>: </td>
    </tr>
    <tr>
      <td>
        <a href="sdc-response.html">SDC-Response</a>
      </td>
      <td>Defines how the questionnaire response resource is used to reflect form data within the ONC's Structured Data Capture standard.</td>
    </tr>
    <tr>
      <td colspan="2">
        <b>Examples</b>: </td>
    </tr>
    <tr>
      <td>
        <a href="questionnaireresponse-sdc-profile-example.html">SDC - Response to Diagnosis NCI Standard Template</a>
      </td>
      <td>
        <p>Responses to the questionnaire found in the SDC - Combination list of questionnaires</p>
      </td>
    </tr>
    <tr>
      <td>
        <a href="questionnaireresponse-sdc-example-ussg-fht-answers.html">SDC-LOINC USSG Family History Response</a>
      </td>
      <td>
        <p>Example response to the SDC-LOINC USSG Family History questionnaire</p>
      </td>
    </tr>
  </table>
  <h3>Example List</h3>
  <table class="list">
    <tbody>
      <tr>
        <td>
          <a href="questionnaireresponse-sdc-profile-example.html">SDC - Response to Diagnosis NCI Standard Template</a>
        </td>
        <td>
          <a href="questionnaireresponse-sdc-profile-example.xml.html">XML</a>
        </td>
        <td>
          <a href="questionnaireresponse-sdc-profile-example.json.html">JSON</a>
        </td>
        <td>Responses to the questionnaire found in the SDC - Combination list of questionnaires</td>
      </tr>
      <tr>
        <td>
          <a href="questionnaireresponse-sdc-example-ussg-fht-answers.html">SDC-LOINC USSG Family History Response</a>
        </td>
        <td>
          <a href="questionnaireresponse-sdc-example-ussg-fht-answers.xml.html">XML</a>
        </td>
        <td>
          <a href="questionnaireresponse-sdc-example-ussg-fht-answers.json.html">JSON</a>
        </td>
        <td>Example response to the SDC-LOINC USSG Family History questionnaire</td>
      </tr>
    </tbody>
  </table>
  <p>
    Usage note: every effort has been made to ensure that the examples are correct and useful, but they are not a normative part of the specification.
  </p>
</div>
