{% include fragment-pagebegin.html %}
<div class="col-12">
  <h2 class="self-link-parent">
    <span class="sectioncount">{{site.data.pages[page.path].label}}<a name="{{site.data.pages[page.path].label}}"> </a>
    </span> {{site.data.pages[page.path].title}} <a title="link to here" class="self-link" href="{{[page.path]}}#{{site.data.pages[page.path].label}}">
      <img src="assets/images/link.svg" class="self-link" width="20" height="20"/>
    </a>
  </h2>
  {% assign path = page.path | split: '.html' %}
  {% include {{path}}.xml %}
</div>
{% include fragment-pageend.html %}
