---
---
{% include fragment-pagebegin.html %}
<div class="col-9">
	<ul class="nav nav-tabs">
		<li class="active">
			<a href="#">Content</a>
		</li>
		<li>
			<a href="{{[id]}}-definitions.html">Detailed Descriptions</a>
		</li>
		<li>
			<a href="{{[id]}}-mappings.html">Mappings</a>
		</li>
		<li>
			<a href="{{[id]}}-examples.html">Examples</a>
		</li>
		<li>
			<a href="{{[id]}}.profile.xml.html">XML</a>
		</li>
		<li>
			<a href="{{[id]}}.profile.json.html">JSON</a>
		</li>
	</ul>
	<h3>
		<span class="sectioncount">{{site.data.pages[page.path].label}}<a name="{{site.data.pages[page.path].label}}"> </a>
		</span> StructureDefinition: {{[title]}} <a title="link to here" class="self-link" href="{{[id]}}.html#{{site.data.pages[page.path].label}}">
			<img src="target.png"/>
		</a>
	</h3>
	<p>
  The official URL for this profile is:
  </p>
	<pre>{{site.data.structuredefinitions['{{[id]}}'].url}}</pre>
	<!-- no uri -->
	<a name="profile"> </a>
	<h4>
		<span class="sectioncount">{{site.data.pages[page.path].label}}.2</span>
    Formal Views of Profile Content
    <a title="link to here" class="self-link" href="{{[id]}}.html#profile">
			<img src="target.png"/>
		</a>
	</h4>
	<p>
		<a href="{{site.data.fhir.path}}profiling.html#representation">Description of Profiles, Differentials, Snapshots, and how the XML and JSON presentations work</a>.
  </p>
	<div id="tabs">
		<ul>
			<li>
				<a href="#tabs-summ">Text Summary</a>
			</li>
			<li>
				<a href="#tabs-diff">Differential Table</a>
			</li>
			<li>
				<a href="#tabs-snap">Snapshot Table</a>
			</li>
			<li>
				<a href="#tabs-xml">Pseudo-XML</a>
			</li>
			<li>
				<a href="#tabs-json">Pseudo-JSON</a>
			</li>
			<li>
				<a href="#tabs-ttl">Pseudo-TTL</a>
			</li>
			<li>
				<a href="#tabs-all">All</a>
			</li>
		</ul>
		<a name="tabs-summ"> </a>
		<div id="tabs-summ">
			<div id="tbl-summ">
				<p>This structure is derived from <a href="{{site.data.structuredefinitions['{{[id]}}'].basepath}}">{{site.data.structuredefinitions['{{[id]}}'].basename}}</a>
				</p>
				<div id="tbl-diff-inner">
					<a name="summary"> </a>
          {%include StructureDefinition-{{[id]}}-summary.xhtml%}
        </div>
			</div>
		</div>
		<a name="tabs-diff"> </a>
		<div id="tabs-diff">
			<div id="tbl-diff">
				<p>This structure is derived from <a href="{{site.data.structuredefinitions['{{[id]}}'].basepath}}">{{site.data.structuredefinitions['{{[id]}}'].basename}}</a>
				</p>
				<div id="tbl-diff-inner">
          {%include StructureDefinition-{{[id]}}-diff.xhtml%}
        </div>
			</div>
		</div>
		<a name="tabs-snap"> </a>
		<div id="tabs-snap">
			<div id="tbl-snap">
				<div id="tbl-snap-inner">
          {%include StructureDefinition-{{[id]}}-snapshot.xhtml%}
        </div>
			</div>
		</div>
		<a name="tabs-xml"> </a>
		<div id="tabs-xml">
			<div id="xml">
				<div id="xml-inner">
          {%include StructureDefinition-{{[id]}}-pseudo-xml.xhtml%}
        </div>
			</div>
		</div>
		<a name="tabs-json"> </a>
		<div id="tabs-json">
			<div id="json">
				<div id="json-inner">
          {%include StructureDefinition-{{[id]}}-pseudo-json.xhtml%}
        </div>
			</div>
		</div>
		<a name="tabs-ttl"> </a>
		<div id="tabs-ttl">
			<div id="ttl">
				<div id="ttl-inner">
          {%include StructureDefinition-{{[id]}}-pseudo-ttl.xhtml%}
        </div>
			</div>
		</div>
		<a name="tabs-all"> </a>
		<div id="tabs-all">
			<div id="tbl-summ">
				<p>This structure is derived from <a href="{{site.data.structuredefinitions['{{[id]}}'].basepath}}">{{site.data.structuredefinitions['{{[id]}}'].basename}}</a>
				</p>
				<div id="tbl-diff-inner">
          {%include StructureDefinition-{{[id]}}-summary.xhtml%}
        </div>
			</div>
			<div id="all-tbl-diff">
				<p>
					<b>Differential View</b>
				</p>
				<p>This structure is derived from <a href="{{site.data.structuredefinitions['{{[id]}}'].basepath}}">{{site.data.structuredefinitions['{{[id]}}'].basename}}</a>
				</p>
				<div id="all-tbl-diff-inner">
          {%include StructureDefinition-{{[id]}}-diff.xhtml%}
        </div>
			</div>
			<div id="all-tbl-snap">
				<p>
					<b>Snapshot View</b>
				</p>
				<div id="all-tbl-snap-inner">
          {%include StructureDefinition-{{[id]}}-snapshot.xhtml%}
        </div>
			</div>
			<div id="all-xml">
				<p>
					<b>XML Template</b>
				</p>
				<div id="all-xml-inner">
          {%include StructureDefinition-{{[id]}}-pseudo-xml.xhtml%}
        </div>
			</div>
			<div id="all-json">
				<p>
					<b>JSON Template</b>
				</p>
				<div id="all-json-inner">
          {%include StructureDefinition-{{[id]}}-pseudo-json.xhtml%}
        </div>
			</div>
			<div id="all-ttl">
				<p>
					<b>TTL Template</b>
				</p>
				<div id="all-ttl-inner">
          {%include StructureDefinition-{{[id]}}-pseudo-ttl.xhtml%}
        </div>
			</div>
		</div>
	</div>
	<p>&#160;</p>
	<p>Other representations of profile: <a href="{{[id]}}.sch">Schematron</a>
	</p>
	<a name="tx"> </a>
	<h4>
		<span class="sectioncount">{{site.data.pages[page.path].label}}.3</span> Terminology Bindings <a title="link to here" class="self-link" href="{{[id]}}.html#tx">
			<img src="target.png"/>
		</a>
	</h4>
  {%include StructureDefinition-{{[id]}}-tx.xhtml%}

  <a name="inv"> </a>
  <h4>
		<span class="sectioncount">{{site.data.pages[page.path].label}}.4</span> Constraints 
		<a title="link to here" class="self-link" href="{{[id]}}.html#inv">
			<img src="target.png"/>
		</a>
	</h4>
  {%include StructureDefinition-{{[id]}}-inv.xhtml%}
</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}