---
---
{% include fragment-pagebegin.html %}
<div class="col-9">
  <ul class="nav nav-tabs">
    <li>
      <a href="extension-{{[id]}}.html">Content</a>
    </li>
    <li class="active">
      <a href="#">Detailed Descriptions</a>
    </li>
    <li>
      <a href="extension-{{[id]}}-mappings.html">Mappings</a>
    </li>
    <li>
      <a href="extension-{{[id]}}.profile.xml.html">XML</a>
    </li>
    <li>
      <a href="extension-{{[id]}}.profile.json.html">JSON</a>
    </li>
  </ul>
  <a name="root"> </a>
  <h4 class="self-link-parent">
    <span class="sectioncount">{{site.data.pages[page.path].label}}.6</span> Extension: {{[title]}} - Detailed Descriptions 
    <a title="link to here" class="self-link" href="extension-{{[id]}}-definitions.html#root">
      <img src="assets/images/link.svg" class="self-link" width="20" height="20"/>
    </a>
  </h4>
  <p>Definitions for the {{[id]}} Extension</p>
  {%include StructureDefinition-{{[id]}}-dict.xhtml%}
</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}