<!DOCTYPE HTML>

<!-- template-resource-book.html -->
       

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
</head>
<body>

<h1>Resource Definition: <%title%></h1>
<!-- <p class="status">Status: <%status%></p> -->
<p>
<%definition%>.
</p>

<%introduction%>

<h2>Resource Content</h2>
<a name="uml"></a>
<%svg A%>

<a name="def"></a>
<a name="<%name%>"></a>
<a name="<%title%>"></a>

<%xml%>

<p>Alternate definitions: 
Master Definition (<a href="<%name%>.profile.xml.html">XML</a>, <a href="<%name%>.profile.json.html">JSON</a>),
<a href="<%name%>.xsd">Schema</a>/<a href="<%name%>.sch">Schematron</a>, <a href="<%name%>.shex.html">ShEx</a> (for <a href="rdf.html">Turtle</a>)</p>

<%tx%>

<%inv%>

<%notes%>

<%search%>


</body>
</html>
