<!DOCTYPE HTML>

<!-- template-example-ttl.html -->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<%file newheader%>
</head>
<body>
<%file newnavbar%>

<h2>Example [%extitle%] (Turtle)</h2>
<table class="colsi"><tr><td><a href="<%wg%>"><%wgt%></a> Work Group</td><td><a href="versions.html#maturity">Maturity Level</a>: N/A</td><td id="ballot"><a href="versions.html#std-process">Standards Status</a>: Informative</td><!--!ns!--><td><%complinks%></td></tr></table>

</tbody></table>

<%exheader ttl%>

<p>
<a href="<%prettyname%>">Raw Turtle</a> (+ also see <a href="rdf.html">Turtle/RDF Format Specification</a>)
</p>
<%example-cross-reference%>

<%example%>

<p>
Usage note: every effort has been made to ensure that the
examples are correct and useful, but they are not a normative part 
of the specification. 
</p>


<%file newfooter%>
    
</body>
</html>
