<!DOCTYPE HTML>

<!-- template-profile.html -->

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<%file newheader%>
</head>
<body>
<%file newnavbar%>

<div class="col-12">

<%profileheader base%>
<h3><%title%></h3>
<table class="<%fmm-style%>">
 <tr><td><%wg%></td><td><%fmm%></td><td><%sstatus%><!--!ns!--></td><td><%profile-context%></td></tr>
</table>

<p>
The canonical URL for this profile is:
</p>
<pre>
<%profileurl%>
</pre>
<p>
<%profiledesc%>
</p>
<p>
This profile was published on <%date%> <%status%> by <%author%>.
<%profile.review%>
</p>

<%profile.intro%>

<%profile.datadictionary%>

<a name="profile"></a>
<h4>
Formal Views of Profile Content
</h4>

<p>
<a href="<%level%>profiling.html#representation">Description of Profiles, Differentials, Snapshots, and how the XML and JSON presentations work</a>.
</p>

<div id="tabs">
 <ul>
  <li><a href="#tabs-summ">Text Summary</a></li>
  <li><a href="#tabs-diff">Differential View</a></li>
  <li><a href="#tabs-snap">Full Structure</a></li>
  <li><a href="#tabs-xml">XML Template</a></li>
  <li><a href="#tabs-json">JSON Template</a></li>
  <li><a href="#tabs-all">All</a></li>
 </ul>
 
 <div id="tabs-summ">
  <div id="tbl-summ">
   <div id="tbl-diff-inner">
    <p>This structure is derived from <%base-link%>.</p>
    <%summary%> 
   </div>
  </div>
 </div>
  
 <div id="tabs-diff">
  <div id="tbl-diff">
   <div id="tbl-diff-inner">
    <p>This indicates the differences between this profile and the base <%base-link%> structure.</p>
    <%profile-structure-table-diff%> 
   </div>
  </div>
 </div>
  
 <div id="tabs-snap">
  <div id="tbl-snap">
   <div id="tbl-snap-inner">
    <p>This provides the consolidated view (aka snapshot) of the profile after applying the changes in this profile to the base <%base-link%> structure.</p>
    <%profile-structure-table%>
   </div>
  </div>
 </div>
  
 <div id="tabs-xml">
  <div id="xml">
   <div id="xml-inner">
    <%xml%>
   </div>
  </div>
 </div>
 
 <div id="tabs-json">
  <div id="json">
   <div id="json-inner">
    <%json%>
   </div>
  </div>
 </div>

 <div id="tabs-all">
  <div id="tbl-summ">
   <p>This structure is derived from <%base-link%>.</p>
   <div id="tbl-diff-inner">
     <%summary%> 
   </div>
  </div>

 <div id="all-tbl-diff">
   <p><b>Differential View</b></p>
   <p>This indicates the differences between this profile and the base <%base-link%> structure.</p>
   <div id="all-tbl-diff-inner">
     <%profile-structure-table-diff%> 
   </div>
  </div>
  <div id="all-tbl-snap">
   <p><b>Snapshot View</b></p>
   <div id="all-tbl-snap-inner">
    <p>This provides the consolidated view (aka snapshot) of the profile after applying the changes in this profile to the base <%base-link%> structure.</p>
    <%profile-structure-table%>
   </div>
  </div>
  <div id="all-xml">
   <p><b>XML Template</b></p>
   <div id="all-xml-inner">
    <%xml%>
   </div>
  </div>
  <div id="all-json">
   <p><b>JSON Template</b></p>
   <div id="all-json-inner">
    <%json%>
   </div>
  </div>
 </div>
</div>
  
<p>&nbsp;</p>  
<p>Alternate definitions: Master Definition (<a href="<%name%>.profile.xml.html">XML</a>, <a href="<%name%>.profile.json.html">JSON</a>), <%schematron%></p>


<a name="tx"></a>
<%profile.tx%>

<%profile.inv%>


<%profile.notes%>.

</div>

<%file newfooter%>

<script src="<%level%>external/jquery/jquery.js"> </script>
<script src="<%level%>jquery-ui.min.js"> </script>
<script>
try {
  var currentTabIndex = sessionStorage.getItem('fhir-resource-tab-index');
}
catch(exception){ 
}

if (!currentTabIndex)
  currentTabIndex = '0';

$( '#tabs' ).tabs({
         active: currentTabIndex,
         activate: function( event, ui ) {
             var active = $('.selector').tabs('option', 'active');
             currentTabIndex = ui.newTab.index();
             document.activeElement.blur();
             try {
               sessionStorage.setItem('fhir-resource-tab-index', currentTabIndex);
             }
             catch(exception){ 
             }
         }
     });
</script>
    
    
</body>
</html>
