<!DOCTYPE HTML>

<!-- template-operations.html -->
       
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<%file newheader%>
</head>
<body>
<%file newnavbar%>

<div class="col-12">

<%resheader operation%>
<h3>Operation $<%opName%> on <%rName%></h3>

<table class="<%fmm-style%>"><tr><td><a href="<%wg%>"><%wgt%></a> Work Group</td><td><%fmm%></td><td><%sstatus%></td><!--!ns!--><td><%complinks n/a%></td></tr></table>


<%operation.intro.include%>

[%normative-op op%]

<%operation.1%>

<%operation.intro.notes%>

<%operation.2%>

<%operation.intro.footnotes%>

<p>
For more information about operations, including how they are invoked, see <a href="operations.html">Operations</a>.
</p>

</div>

<%file newfooter%>
    
</body>
</html>
