<!DOCTYPE HTML>

<!-- template-abstract-definitions.html -->
       

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<%file newheader%>
</head>
<body>
<%file newnavbar%>

<%aresheader definitions%>
<h2>Resource <%title%> - Detailed Descriptions</h2>

<table class="<%fmm-style%>"><tr><td><a href="<%wg%>"><%wgt%></a> Work Group</td><td><%fmm%></td><td><%sstatus%></td><td><%sec-cat%></td><!--!ns!--><td><%complinks%></td></tr></table>

[%normative resource %check%]

<p>Detailed Descriptions for the elements in the <%atitle%>.</p>

<%dictionary%>

<%file newfooter%>
    
</body>
</html>
