<!DOCTYPE HTML>
<!-- template-extension.html -->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<%file newheader%>
</head>
<body>
<%file newnavbar%>

<div class="col-12">

<%extDefnHeader%>

<h1>Extension: <%ext-name%></h1>

<table class="<%fmm-style%>">
 <tr><td><%wg%></td><td><%fmm%></td><td><%sstatus%><!--!ns!--></td><td><%profile-context%></td></tr>
</table>

<p>URL for this extension: </p>
<pre><b><%extensionurl%></b></pre>

<p>Status: <%status%>. <%pubdetails%></p>

<p>
<%definition%>
</p>
<%ext-comments%>

<%context-info%>

<%extref%>

<a name="resource"></a>
<h2>
Extension Content
</h2>
<a name="def"></a>
<a name="<%name%>"></a>
<a name="<%title%>"></a>

<div id="tabs">
  <ul>
    <li><a href="#tabs-struc1">Summary</a></li>
    <li><a href="#tabs-struc2">Full Structure</a></li>
    <li><a href="#tabs-xml">XML</a></li>
    <li><a href="#tabs-json">JSON</a></li>
    <li><a href="#tabs-all">All</a></li>
  </ul>
  <div id="tabs-struc1">

<div id="tbl1">
<p><b>Summary</b></p>
 <div id="tbl-inner">
  <%extension-table false%>
 </div>
</div>

  </div>
  <div id="tabs-struc2">

<div id="tbl1">
<p><b>Full Structure</b></p>
 <div id="tbl-inner">
  <%extension-table true%>
 </div>
</div>

  </div>
  <div id="tabs-xml">

<div id="xml">
<p><b>XML Template</b></p>
 <div id="xml-inner">
  <%xml%>
 </div>
</div>

  </div>
  <div id="tabs-json">

<div id="json">
<p><b>JSON Template</b></p>
 <div id="json-inner">
  <%json%>
 </div>
</div>

  </div>
  <div id="tabs-all">

  <div id="tbl1a">
<a name="tbl"></a>
<p><b>Summary</b></p>
 <div id="tbl-inner">
  <%extension-table false%>
 </div>
</div>

<div id="tbl2a">
<a name="tbl"></a>
<p><b>Full Structure</b></p>
 <div id="tbl-inner">
  <%extension-table true%>
 </div>
</div>


<div id="xml">
<a name="xml"></a>
<p><b>XML Template</b></p>
 <div id="xml-inner">
  <%xml%>
 </div>
</div>

<div id="json">
<a name="json"></a>
<p><b>JSON Template</b></p>
 <div id="json-inner">
  <%json%>
 </div>
</div>

 </div>
</div>

<p>&nbsp;</p>

<a name="tx"></a>
<%tx%>

<%inv%>


<%extension-example-references%>


</div>


<%file newfooter%>



<script src="<%level%>external/jquery/jquery.js"> </script>
<script src="<%level%>jquery-ui.min.js"> </script>
<script>
try {
  var currentTabIndex = sessionStorage.getItem('fhir-resource-tab-index');
}
catch(exception){
}

if (!currentTabIndex)
  currentTabIndex = '0';

$( '#tabs' ).tabs({
         active: currentTabIndex,
         activate: function( event, ui ) {
             var active = $('.selector').tabs('option', 'active');
             currentTabIndex = ui.newTab.index();
             document.activeElement.blur();
             try {
               sessionStorage.setItem('fhir-resource-tab-index', currentTabIndex);
             }
             catch(exception){
             }
         }
     });
</script>

</body>
</html>
