<!DOCTYPE HTML>

<!-- template-vs.html -->
      
[%settitle Value Set {vsurl}%]
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
[%file newheader%]
</head>
<body>
[%file newnavbar%]

<div class="col-12">

<%txheader0 vs%>

<a name="vs"></a>
<h1>Value Set <%vsurl%></h1>
<table class="<%fmm-style%>">
 <tr><td><a href="<%wg%>"><%wgt%></a> Work Group</td><td><%fmm%></td><td><%sstatus%></td><!--!ns!--><td><%profile-context%></td></tr>
</table>
[%normative vs %check%]

<p>
This is a value set defined <%vssource%><%vsxref%>
</p>

<p><b>Summary</b></p>
<table class="grid">
 <tr><td>Defining URL:</td><td><span class="copy-text"><code><%vsurl%></code><button title="Click to copy URL" class="btn-copy" data-clipboard-text="<%vsurl%>" data-original-title="Click to copy URL"></button></span></td></tr>
 <tr><td>Version:</td><td><%vsver%></td></tr>
 <tr><td>Name:</td><td><%vsnamed%></td></tr>
 <tr><td>Title:</td><td><%vstitle%></td></tr>
 <tr><td>Status:</td><td><%vsstatus%></td></tr>
 <tr><td>Definition:</td><td><%vsdef%></td></tr>
 <tr><td>Committee:</td><td><%vscommittee%></td></tr>
 <tr><td>OID:</td><td><%vsoid%> (for OID based terminology systems)</td></tr>
<%txsummary%>
 <tr><td>Source Resource:</td><td><a href="<%vsref%>.xml.html">XML</a> / <a href="<%vsref%>.json.html">JSON</a></td></tr>
</table>

<%res-status-special%>

<%vs-warning%>

<%vsusage%>

<a name="definition"></a>
<h2>Content Logical Definition</h2>

<%vscld%>

<%vsexpansion%>

<p>&nbsp;</p>



<p>
See <a href="<%level%>terminologies-valuesets.html">the full registry of value sets</a> defined as part of FHIR.
</p>

<hr/>

<p>
Explanation of the columns that may appear on this page:
</p>
<table class="grid">
 <tr><td>Lvl</td><td>A few code lists that FHIR defines are hierarchical - each code is assigned a level. For value sets, levels are mostly used to organize codes for user convenience, but may follow
   code system hierarchy - see <a href="<%level%>codesystem.html#hierarchy">Code System</a> for further information</td></tr> 
 <tr><td>Source</td><td>The source of the definition of the code (when the value set draws in codes defined elsewhere)</td></tr>
 <tr><td>Code</td><td>The code (used as the code in the resource instance). If the code is in italics, this indicates that the code is not selectable ('Abstract')</td></tr>
 <tr><td>Display</td><td>The display (used in the <i>display</i> element of a <a href="<%level%>datatypes.html#Coding">Coding</a>). If there is no display, implementers should not simply display the code, but map the concept into their application</td></tr>
 <tr><td>Definition</td><td>An explanation of the meaning of the concept</td></tr>
 <tr><td>Comments</td><td>Additional notes about how to use the code</td></tr>
</table>

</div>

[%file newfooter%]
<script type="text/javascript" src="assets/js/clipboard.min.js"> </script>
<script type="text/javascript" src="assets/js/clipboard-btn.js"> </script>
        
</body>
</html>
