<!DOCTYPE HTML>

<!-- template-resource-examples.html -->
<%settitle Resource {xtitle} - Examples%>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<%file newheader%>
</head>
<body>
<%file newnavbar%>

<%aresheader examples%>
<h2><%title%></h2>


<table class="<%fmm-style%>">
 <tr><td><%wg%></td><td><%fmm%></td><td><%sstatus%></td><!--!ns!--><td><%complinks%></td></tr>
</table>


<%example-header%>

<%example-list%>

<%!examples-book%>

<p>
Usage note: every effort has been made to ensure that the 
examples are correct and useful, but they are not a normative part 
of the specification. 
</p>


<a name="Meta"></a>
<a name="meta"></a>
<h3 style="margin-bottom: 1px">Meta</h3>
[%dtstatus Meta%]
<p style="background-color: gainsboro; border-left: solid 1px #808080; border-right: solid 1px #808080; border-bottom: solid 1px #808080; padding: 4px; margin-top: 0px">
<!--xlp:Meta-->See also <a no-external="true" href="references.html#CodeableReference">Base Definition</a>, <a no-external="true" href="references-profiles.html#CodeableReference">Profiles</a>, <a no-external="true" href="[%extensions-location%]extensions-references.html#CodeableReference">Extensions</a> and <a no-external="true" href="[%extensions-location%]conversions-references.html#CodeableReference">R4 Conversions</a>
</p>

<%dictionary Meta%>

<%file newfooter%>
    
</body>
</html>
