<!DOCTYPE HTML>

<!-- template-logical-examples.html -->

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<%file newheader%>
</head>
<body>
<%file newnavbar%>

<%lmheader examples%>
<h1>Pattern <%title%> - Implementations</h1>

<table class="<%fmm-style%>">
 <tr><td><a href="<%wg%>"><%wgt%></a></td><td><%fmm%></td><td><a href="versions.html#std-process">Informative</a><!--!ns!--></td><td></td></tr>
</table>

<%lmimplementations%> 
    
<%file newfooter%>
    
</body>
</html>
