<!DOCTYPE HTML>

<!-- template-operations.html -->
       
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<%file newheader%>
</head>
<body>
<%file newnavbar%>

<h2>Resource <%title%> - Maturity Dependency View</h2>
<table class="<%fmm-style%>"><tr><td><a href="<%wg%>"><%wgt%></a> Work Group</td><td><%fmm%></td><td><%sstatus%></td><!--!ns!--><td><%complinks%></td></tr></table>

[%normative resource %check-op%]


<%dependency-graph%>

<%file newfooter%>
    
</body>
</html>
