<!DOCTYPE HTML>

<!-- template-logical-mappings.html -->

<%settitle Pattern {xtitle} - Mappings%>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<%file newheader%>
</head>
<body>
<%file newnavbar%>

<%lmheader mappings%>

<h2><%title%></h2>

<table class="<%fmm-style%>">
 <tr><td><a href="<%wg%>"><%wgt%></a></td><td><%fmm%></td><td><a href="versions.html#std-process">Informative</a><!--!ns!--></td><td></td></tr>
</table>

<%maponthispage%>

<p>Mappings for the <%name%> pattern (see <a href="mappings.html">Mappings to Other Standards</a> for further information &amp; status).</p>

<%mappings%>

<%file newfooter%>
    
</body>
</html>
