<!DOCTYPE HTML>

<!-- template-logical.html -->

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<%file newheader%>
</head>
<body>
<%file newnavbar%>

<div class="col-12">

<%lmheader%>
<h1>Pattern <%title%> - Content</h1>

<table class="colsi">
 <tr><td><a href="<%wg%>"><%wgt%></a></td><td><%fmm%></td><td><a href="versions.html#std-process">Informative</a><!--!ns!--></td><td></td></tr>
</table>

<p> 
<%definition%> 
</p>

<%introduction%>

<%resref%>

<a name="resource"></a>
<h2>
Pattern Content
</h2>
<a name="def"></a>
<a name="<%name%>"></a>
<a name="<%title%>"></a>

<div id="tabs">
  <ul>
    <li><a href="#tabs-struc">Structure</a></li>
    <li><a href="#tabs-uml">UML</a></li>
    <li><a href="#tabs-all">Both</a></li>
  </ul>
  <div id="tabs-struc">

<div id="tbl">
<p><b>Structure</b></p>
 <div id="tbl-inner">
  <%resource-table%>
 </div>
</div>

  </div>
  <div id="tabs-uml">
  
<div id="uml">
<p><b>UML Diagram</b> (<a href="formats.html#uml">Legend</a>)</p>
 <div id="uml-inner">
 <%svg A%>
 </div>
</div>

  </div>
  <div id="tabs-all">

<div id="tbl">
<a name="tbl"></a>
<p><b>Structure</b></p>
 <div id="tbl-inner">
  <%resource-table%>
 </div>
</div>

 
<div id="uml">
<a name="uml"></a>
<p><b>UML Diagram</b> (<a href="formats.html#uml">Legend</a>)</p>
 <div id="uml-inner">
 <%svg B%>
 </div>
</div>
  
  </div>
</div>
  
<p>&nbsp;</p>  

<p>Alternate definitions: Master Definition <a href="<%name%>.xml.html">XML</a> + <a href="<%name%>.json.html">JSON</a>. </p>


<a name="tx"></a>
<%tx%>

<%inv%>

<%notes%>

<a name=\"mappings\"></a>
<h3>Mappings</h3>

<%logical-mappings%>

<p>
Each non-grey cell contains a number, the number of elements or extensions mapped in the resource
that are mapped to the pattern element in the column. If there are 0 elements, the 
number is not shown. In addition, the cell has a color and some character flags.
</p>
<p>
Colors:
</p>
<ul>
  <li>Grey: the resource has no element or extension for the pattern element</li> 
  <li>White: the resource has an element that implements the pattern element with the same name</li> 
  <li>Yellow: the resource has a documented extension that implements the pattern element with the same name</li> 
  <li>Blue: the resource has an element that implements the pattern element with a different name</li> 
  <li>Red: the resource has an element that implements that pattern element, but the type or cardinality does not match </li> 
</ul>
<p>
  Flags:
  </p>
  <ul>
    <li>E: pattern element implemented by an extension</li> 
    <li>N: pattern element implemented by an element with a different name</li> 
    <li>T: pattern element implemented by an element with a different type</li> 
    <li>C: pattern element implemented by an element with a different cardinality</li> 
</ul>
</div>

<%file newfooter%>



<script src="<%level%>external/jquery/jquery.js"> </script>
<script src="<%level%>jquery-ui.min.js"> </script>
<script>
try {
  var currentTabIndex = sessionStorage.getItem('fhir-resource-tab-index');
}
catch(exception){ 
}

if (!currentTabIndex)
  currentTabIndex = '0';

$( '#tabs' ).tabs({
         active: currentTabIndex,
         activate: function( event, ui ) {
             var active = $('.selector').tabs('option', 'active');
             currentTabIndex = ui.newTab.index();
             document.activeElement.blur();
             try {
               sessionStorage.setItem('fhir-resource-tab-index', currentTabIndex);
             }
             catch(exception){ 
             }
         }
     });
</script>
    
</body>
</html>
