<!DOCTYPE HTML>

<!-- template-profile-mappings.html -->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<%file newheader%>
</head>
<body>
<%file newnavbar%>

<%profileheader mappings%>
<h4><%title%> - Mappings</h4>
<table class="<%fmm-style%>">
 <tr><td><%wg%></td><td><%fmm%></td><td><%sstatus%><!--!ns!--></td><td><%profile-context%></td></tr>
</table>

<%maponthispage%>

<p>Mappings for the <%name%> Profile (see <a href="<%level%>mappings.html">Mappings to Other Standards</a> for further information &amp; status).</p>

<%mappings%>

<%file newfooter%>
    
</body>
</html>
