<!DOCTYPE HTML>

<!-- template-ig-toc.html -->
      
[%settitle Table of Contents%]
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
[%file newheader%]
</head>
<body>
[%file newnavbar%]

<h2>Table of Contents</h2>

<table class="colsi"><tr><td id="wg"><a _target="blank" href="[%wg fhir%]">[%wgt fhir%]</a> Work Group</td><td id="fmm"><a href="../versions.html#maturity">Maturity Level</a>: N/A</td><td id="ballot"><a href="../versions.html#levels">Standards Status</a>:<!--!ns!--><a href="../versions.html#std-process">Informative</a></td></tr></table>

<%ig-toc%>

[%file newfooter%]

</body>
</html>