<!DOCTYPE HTML>
<!-- template-extension.html -->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<%file newheader%>
</head>
<body>
<%file newnavbar%>

<%extDefnHeader%>

<h1>Extension: <%ext-present%></h1>

<table class="<%fmm-style%>">
 <tr><td><%wg%></td><td><%fmm%></td><td><%sstatus%><!--!ns!--></td><td><%profile-context%></td></tr>
</table>

<table class="<%fmm-style%>">
  <tr>
    <td colspan="4">
      <i>Official URL</i>: <span class="copy-text"><code><%extensionurl%></code><button title="Click to copy URL" class="btn-copy" data-clipboard-text="<%extensionurl%>" data-original-title="Click to copy URL"></button></span>
    </td>
    <td><i>Version</i>: <%ext-ver%></td>
  </tr>
  <tr>
   <td colspan="4"><%ext-status%> as of <%ext-date%></td>
   <td><i>Computable Name</i>: <span style="font-family: monospace;"><%ext-name%></span></td>
  </tr>
  <tr>
    <td colspan="4"><em>Flags</em>: <%ext-flags%></td>
    <td colspan="1"><em>OID</em>: <span style="font-family: monospace;"><%ext-oid%></span></td>
  </tr>
</table>

<%pubdetails%>

<%context-info%>

<a name="defn"> </a>
<h3>Definition</h3>

<%definition%>

<%ext-comments%>

<%extref%>

<a name="resource"></a>
<h2>
Extension Content
</h2>
<a name="def"></a>
<a name="<%name%>"></a>
<a name="<%title%>"></a>

<div id="tabs">
  <ul>
    <li><a href="#tabs-struc1">Summary</a></li>
    <li><a href="#tabs-struc2">Full Structure</a></li>
    <li><a href="#tabs-xml">XML</a></li>
    <li><a href="#tabs-json">JSON</a></li>
    <li><a href="#tabs-all">All</a></li>
  </ul>
  <div id="tabs-struc1">

<div id="tbl1">
<p><b>Summary</b></p>
 <div id="tbl-inner">
  <%extension-table false%>
 </div>
</div>

  </div>
  <div id="tabs-struc2">

<div id="tbl1">
<p><b>Full Structure</b></p>
 <div id="tbl-inner">
  <%extension-table true%>
 </div>
</div>

  </div>
  <div id="tabs-xml">

<div id="xml">
<p><b>XML Template</b></p>
 <div id="xml-inner">
  <%xml%>
 </div>
</div>

  </div>
  <div id="tabs-json">

<div id="json">
<p><b>JSON Template</b></p>
 <div id="json-inner">
  <%json%>
 </div>
</div>

  </div>
  <div id="tabs-all">

  <div id="tbl1a">
<a name="tbl"></a>
<p><b>Summary</b></p>
 <div id="tbl-inner">
  <%extension-table false%>
 </div>
</div>

<div id="tbl2a">
<a name="tbl"></a>
<p><b>Full Structure</b></p>
 <div id="tbl-inner">
  <%extension-table true%>
 </div>
</div>


<div id="xml">
<a name="xml"></a>
<p><b>XML Template</b></p>
 <div id="xml-inner">
  <%xml%>
 </div>
</div>

<div id="json">
<a name="json"></a>
<p><b>JSON Template</b></p>
 <div id="json-inner">
  <%json%>
 </div>
</div>

 </div>
</div>

<p>&nbsp;</p>

<a name="tx"></a>
<%tx%>

<%inv%>

<p><b>Search</b></p>
<table class="list">
<%extension-search-references%>
</table>

<p><b>Examples of this extension</b></p>

<%extension-example-references%>

<%file newfooter%>

<script type="text/javascript" src="assets/js/clipboard.min.js"> </script>
<script type="text/javascript" src="assets/js/clipboard-btn.js"> </script>

<script src="<%level%>jquery-ui.min.js"> </script>
<script>
try {
  var currentTabIndex = sessionStorage.getItem('fhir-resource-tab-index');
}
catch(exception){
}

if (!currentTabIndex)
  currentTabIndex = '0';

$( '#tabs' ).tabs({
         active: currentTabIndex,
         activate: function( event, ui ) {
             var active = $('.selector').tabs('option', 'active');
             currentTabIndex = ui.newTab.index();
             document.activeElement.blur();
             try {
               sessionStorage.setItem('fhir-resource-tab-index', currentTabIndex);
             }
             catch(exception){
             }
         }
     });
</script>

</body>
</html>
