<!DOCTYPE HTML>

<!-- template-version-maps.html -->

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<%file newheader%>
</head>
<body>
<%file newnavbar%>

<div class="col-12">

<%resheader conversion%>
<h2>Resource <%title%> - R4/R5 Conversions</h2>
<table class="colsi"><tr><td><a href="<%wg%>"><%wgt%></a> Work Group</td><td><a href="versions.html#maturity">Maturity Level</a>: N/A</td><td id="ballot"><a href="versions.html#std-process">Standards Status</a>: Informative<td><%sec-cat%></td><!--!ns!--></td><td><%complinks%></td></tr></table>

<p>R4 : R5 Conversion maps for <%title%>.</p>

<p>Functional status for this map: <%conv-status%> (<a href="r4maps.html">see documentation)</a></p>

<h3>R4 to R5</h3>

<div class="mapping">
<pre>
<%fwds%>
</pre>
</div>

<%fwds-status%>

<h3>R5 to R4</h3>

<div class="mapping">
<pre>
<%bcks%>
</pre>
</div>

<%bcks-status%>

<h3>R4 Validation Errors</h3>

<%r3errs%>

</div>

<%file newfooter%>
    
</body>
</html>
