<!DOCTYPE HTML>

<!-- template-abstract-examples.html -->
<%settitle Resource {xtitle} - Examples%>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<%file newheader%>
</head>
<body>
<%file newnavbar%>

<%aresheader examples%>
<h2><%title%></h2>


<table class="<%fmm-style%>">
 <tr><td><%wg%></td><td><%fmm%></td><td><%sstatus%></td><!--!ns!--><td><%complinks%></td></tr>
</table>


<%example-header%>

<%example-list%>

<%!examples-book%>

<p>
Usage note: every effort has been made to ensure that the 
examples are correct and useful, but they are not a normative part 
of the specification. 
</p>

<%file newfooter%>
    
</body>
</html>
