---
---
{% include fragment-pagebegin.html %}
<div class="col-12">
  <h2 class="self-link-parent">
    <span class="sectioncount">{{site.data.pages[page.path].label}}<a name="{{site.data.pages[page.path].label}}"> </a>
    </span> {{[title]}} - {{[fmt]}} <a title="link to here" class="self-link" href="valueset-{{[id]}}.{{[fmt]}}.html#{{site.data.pages[page.path].label}}">
      <img src="assets/images/link.svg" class="self-link" width="20" height="20"/>
    </a>
  </h2>
  <p>
    <a href="{{[type]}}-{{[id]}}.{{[fmt]}}">Raw {{[fmt]}}</a>
  </p>
  {% assign intro = site.data.pages[page.path].intro %}
  {% if site.data.pages[page.path].intro != null %}
  <div style="display:inline-block">
  {% include {{intro}} %}
  </div>
  {% endif %}

  <p>
    <b>Narrative view of the Value Set</b>
  </p>
  
  {% include {{[type]}}-{{[name]}}.xhtml %}

  {% assign notes = site.data.pages[page.path].notes %}
  {% if site.data.pages[page.path].notes != null %}
  <div style="display:inline-block">
  {% include {{notes}} %}
  </div>
  {% endif %}
</div>
{% include fragment-pageend.html %}