---
---
{% include fragment-pagebegin.html %}
<div class="col-9">
  <ul class="nav nav-tabs">
    <li>
      <a href="{{[id]}}.html">Content</a>
    </li>
    <li>
      <a href="{{[id]}}-definitions.html">Detailed Descriptions</a>
    </li>
    <li>
      <a href="{{[id]}}-mappings.html">Mappings</a>
    </li>
		<li>
			<a href="{{[id]}}-examples.html">Examples</a>
		</li>
    <li>
      <a href="{{[id]}}.profile.xml.html">XML</a>
    </li>
    <li class="active">
      <a href="#">JSON</a>
    </li>
  </ul>
  <a name="root"> </a>
  <h4>
    <span class="sectioncount">{{site.data.pages[page.path].label}}.10</span> StructureDefinition: {{[title]}} - JSON Profile 
    <a title="link to here" class="self-link" href="{{[id]}}.profile.json.html#root">
      <img src="target.png"/>
    </a>
  </h4>
  <p>JSON representation of the {{[id]}} Profile.</p>
  {%include StructureDefinition-{{[id]}}-json-html.xhtml%}
</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}