<!DOCTYPE HTML>


[%settitle Exchanges Allowing Human Intervention%]
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
[%file newheader%]
</head>
<body>

[%file newnavbar%]



<h2>Exchanges Allowing Human Intervention</h2>
<table class="colsi"><tr><td id="wg"><a _target="blank" href="[%wg fhir%]">[%wgt fhir%]</a> Work Group</td><td id="fmm"><a href="versions.html#maturity">Maturity Level</a>: N/A</td><td id="ballot"><a href="versions.html#std-process">Standards Status</a>:<!--!ns!--><a href="versions.html#std-process">Informative</a></td></tr></table>

  <p>
    This page covers the mechanisms for requesting data when there is a potential for humans to be involved in the process of finding, organizing, filtering, and/or reviewing the data shared prior to exchange.  Guidance on whether these 'request' mechanisms are appropriate is found <a href="exchanging.html#human">here</a> and guidance for choosing between the <a href="#request">CommunicationRequest</a> and <a href="#task">Task</a> approaches can be found <a href="exchanging.html#formal">here</a>.
  </p>
  <p>
    Note: This page focuses on the use of standard RESTful mechanisms to drive fulfillment of a CommunicationRequest or Task.  It is also possible to use <a href="exchanging-operation.html#async">asynchronous custom operations</a> or <a href="exchanging-messaging.html#async">asynchronous messaging</a>.  Either of these mechanisms would need to be invoked in asynchronous mode.  Both approaches require more negotiation/custom development than a pure REST solution, though they may align better with traditional application architectures and in some environments may be simpler overall.  Guidance on choosing between messaging and operations can be found <a href="exchanging.html#message">here</a>.
  </p>
  <a name="request"> </a>
  <h3>Requesting exchange using CommunicationRequest</h3>
  <p>
    The basics of this mechanism are that a formal CommunicationRequest - generally with a <code>focus</code> of 'order' - is created that defines the data to be shared and who it is to be shared with.  For the purposes of this documentation, the focus is on the system requesting the data and receiving the data being the same (the <i>data consumer</i>), however it is possible - and in fact common - for this mechanism to be used when the data is to flow to a different party.  I.e. party A (the requester) authorizes the <i>data source</i> to transmit a specified set of data to a third-party <i>data consumer</i>.
  </p>
  <p>
    In FHIR, a <a href="request.html">request</a> resources represent plans, proposals or orders (authorizations) for actions to occur.  However, they do not, by themselves, directly solicit action.  Some sort of process must occur that triggers a solicitation for the 'request' to be fulfilled.  There are numerous mechanisms in FHIR for seeking such fulfillment - all described in the FHIR core specification section on <a href="workflow-communications.html">workflow communication patterns</a>.  The following diagrams and descriptions summarize the key steps in each flow and some of the considerations associated with each of the options.
  </p>

  <a name="cr-double-post"> </a>
  <h4>Direct POST, both ways</h4>
  <p>
    In this approach, the CommunicationRequest soliciting data is posted directly to the <i>data source</i>'s system and the resulting data is POSTed directly back to the <i>data consumer</i>'s system.  While lighter-weight than some of the alternatives below, it requires that records be created on the RESTful endpoints of both <i>data source</i> and <i>data consumer</i> that might not actually be desired and does not give the <i>data consumer</i> much choice as to what happens to the data when received - it must either be stored as a record on the respective endpoint or it must be thrown away.  (This also means that the <i>data consumer</i> must have an endpoint for the desired data to be stored on.)  This mechanism provides no mechanism to track status of work in progress.  A refusal is represented by a Communication instance indicating that no Communication happened.
  </p>
  <blockquote class="note-to-balloters">
    <p>
      Balloter feedback requested: Given the downsides associated with this approach to exchange, should it be listed as one of the options in this document?
    </p>
  </blockquote>
  <p>
    This approach corresponds to <a href="workflow-ad-hoc.html#optiona">Option A</a> in the FHIR core workflow communication patterns.
  </p>
  <p>
    {% include communicationrequest-post.svg %}
  </p>
  <a name="cr-post-a1"> </a>
  <p>
    <b>Step 1:</b> When creating an order, the authoritative copy of it *should* be kept on the system responsible for creating it, as that is the system that has authority to make decisions about status changes, etc.  The CommunicationRequest sent to the <i>data source</i> should be a copy with intent of 'filler-order' that references the original <i>data consumer</i>-maintained original 'placer-order'.
  </p>
  <a name="cr-post-a2"> </a>
  <p>
    <b>Step 2:</b> A copy of the CommunicationRequest (or possibly the only electronic record of the order) is created on the <i>data source</i>'s system with a 'tag' indicating that the recipient is being asked to fulfill the order.  This tag is essential to differentiate a CommunicationRequest to be acted upon from one provided as a 'for your information'.
  </p>
  <a name="cr-post-a3"> </a>
  <p>
    <b>Step 3:</b> In this option, the data is POSTed directly back to the <i>data consumer</i>.  This might not be appropriate in all cases as it might not make sense for the <i>data consumer</i> to expose a RESTful endpoint and it might not want to persist the full set of data sent.
  </p>
  <a name="cr-post-a4"> </a>
  <p>
    <b>Step 4:</b> While the data has been delivered, nothing indicates to <i>data consumer</i> that the request is complete.  As well, it is possible there is no data available or that the request has been refused.  Posting the Communication resource allows closing this loop.  However, closing the loop by formally creating a Communication instance as part of the patient record is not necessarily always appropriate.  (Such resources will rarely be created for data shared by the <i>data consumer</i> directly querying the <i>data source</i>'s system.
  </p>

  <a name="cr-task"> </a>
  <h4>CommunicationRequest plus Task</h4>
  <p>
    This approach uses Task to seek fulfillment of the CommunicationRequest.  It eliminates the need for Communication to link together the data returned.  It also allows explicit monitoring of the state (e.g. acceptance/rejection, progress) prior to completion.  Note that this flow is similar to the Task-only flow described <a href="#task">below</a>, with the primary difference being that it uses a formal CommunicationRequest 'order' to define the data requested rather than just using the Task itself.
  </p>
  <p>
    This approach aligns with <a href="workflow-management.html#optiong">Option G</a> in the FHIR core workflow communication patterns, where the Task is posted directly to the filler's system (<i>data source</i>).  Alternate workflows using Task where the Task lives on the placer's system (<i>data consumer</i>) - <a href="workflow-management.html#optionf">Option F</a> or on an intermediary system <a href="workflow-management.html#optionH">Option H</a>, however those require either <a href="exchanging-polling.html">polling</a> or <a href="exchanging-subscription.html">subscription</a> by the <i>data source</i>.  In general these alternatives would only make sense if the request for information wasn't directed to a specific <i>data source</i> (which would be unusual) or if the <i>data consumer</i> did not have authority to post a Task directly to the <i>data source</i>'s system.
  </p>
  <p>
    {% include communicationrequest-task.svg %}
  </p>
  <a name="cr-task1"> </a>
  <p>
    <b>Step 1:</b> The authoritative CommunicationRequest is created on the <i>data consumer</i>'s system.  (It is possible later, after receiving the Task, that the <i>data source</i> might create a 'filler' CommunicationRequest, but there would be no need to exchange it and it would have no impact on the workflow.)
  </p>
  <a name="cr-task2"> </a>
  <p>
    <b>Step 2:</b> The Task is posted directly to the <i>data source</i> by the <i>data consumer</i>, initiating fulfillment of the CommunicationRequest.  The CommunicationRequest is the 'focus' of the Task.
  </p>
  <a name="cr-task3"> </a>
  <p>
    <b>Step 3:</b> The <i>data source</i> reads the CommunicationRequest (that was referenced by the Task) from the <i>data consumer</i> to determine what data is needed.
  </p>
  <a name="cr-task4"> </a>
  <p>
    <b>Step 4:</b> The <i>data source</i> may optionally update the Task to change the status (e.g. from <code>requested</code> to <code>accepted</code> or <code>rejected</code> and eventually to <code>in-progress</code> or <code>on-hold</code>.  The <i>data source</i> might also update the Task.businessStatus element to convey additional information around progress, such as reasons for delay or expected timeframe for delivery.
  </p>
  <a name="cr-task5"> </a>
  <p>
    <b>Step 5:</b> In order for the <i>data consumer</i> to receive information about changes to the Task status, it would either need to <a href="exchanging-polling.html">poll</a> the Task by periodically performing a read on the Task instance or create a <a href="exchanging-subscription.html">Subscription</a> on the <i>data source</i> so that it is notified when the Task is updated.  (Note that it will have to use one of these approaches even if not interested in status changes as polling must be used in <a href="#cr-task7">Step 7</a> to see that the Task is complete.
  </p>
  <a name="cr-task6"> </a>
  <p>
    <b>Step 6:</b> In this option, instead of being directly POSTed directly back to the <i>data consumer</i>, the requested data record(s) are instead stored on the <i>data source</i>'s system.  This step is marked as 'optional' because in some cases the requested data might already exist on the source system and there will be no need to create it.  As for <a href="#cr-post-a3">step 3</a> above, multiple resource instances may need to exist to satisfy the communication request.  It is possible that some may need to be created, while others may be pre-existing.  In principle, any resources created due to the CommunicationRequest could potentially be available for subsequent query by other systems.  Also, it is also possible that the created records might exist on a system other than the <i>data source</i>.
  </p>
  <a name="cr-task7"> </a>
  <p>
    <b>Step 7:</b> The <i>data source</i> updates the Task to reference the resources created and/or identified in step 5 as Task.output values and sets the Task status to <code>completed</code>.  (It is possible that outputs may be added over time through multiple updates before the Task is marked as complete.  If this happens, it is up to the <i>data consumer</i> whether to retrieve outputs as they are added or to wait until the Task is complete.)
  </p>
  <a name="cr-task8"> </a>
  <p>
    <b>Step 8:</b> The <i>data consumer</i> retrieves the completed Task from the <i>data source</i> using either <a href="exchanging-polling.html">polling</a> or a previously created <a href="exchanging-subscription.html">Subscription</a>.  Note that this can be combined with Step 9 below if the polling or subscription mechanism makes use of _include to retrieve the <code>Task.output</code> references at the same time as the Task is returned.  (Note that there is currently no standard search parameter to support such an _include.)
  </p>
  <a name="cr-task9"> </a>
  <p>
    <b>Steps 9:</b> Once the <i>data consumer</i> has the Task and knows what data is deemed to satisfy the request (based on references in Task.output), it can then directly query that information - either as individual reads, as a query by resource id(s) or by a batch of queries or reads.  This step can be omitted if the outputs are retrieved as part of the polling/subscription in Step 8.
  </p>
  <p>
    NOTE: Both this approach and the following one can make use of both Task and a Request.  In this first approach, the Task has a 'focus' of the CommunicationRequest.  It describes the information to be retrieved and the Task is saying "please fulfill the order".  In the Task-based approach that follows, the Task describes what information is to be retrieved.  It *may* refer to a Request that is being fulfilled in whole or in part by the Task and which provides an authorization for the information to be retrieved.
  </p>

  <a name="task"> </a>
  <h3>Requesting exchange using Task</h3>
  <p>
    In this approach, no CommunicationRequest is used at all - as there is no need for a formal order.  Instead, the Task itself describes the data to be retrieved.  The workflow is identical to that used in <a href="#cr-task">CommunicationRequest plus Task</a>, except that the first step (the creation of the CommunicationRequest) and the third step (read of the CommunicationRequest) are skipped and the Task transmitted in the initial step does not specify a Task.focus.
  </p>
  <p>
    {% include task.svg %}
  </p>
  <a name="task1"> </a>
  <p>
    <b>Step 1:</b> The Task is posted directly to the <i>data source</i> by the <i>data consumer</i>.  The Task describes the data to be provided directly.
  </p>
  <a name="task2"> </a>
  <p>
    <b>Step 2:</b> The <i>data source</i> may optionally update the Task to change the status (e.g. from <code>requested</code> to <code>accepted</code> or <code>rejected</code> and eventually to <code>in-progress</code> or <code>on-hold</code>.  The <i>data source</i> might also update the Task.businessStatus element to convey additional information around progress, such as reasons for delay or expected timeframe for delivery.
  </p>
  <a name="task3"> </a>
  <p>
    <b>Step 3:</b> In order for the <i>data consumer</i> to receive information about changes to the Task status, it would either need to poll the Task by periodically performing a read on the Task instance or create a Subscription on the <i>data source</i> so that it is notified when the Task is updated.  (Note that it will have to use one of these approaches even if not interested in status changes as polling must be used in <a href="#cr-task7">Step 7</a> to see that the Task is complete.
  </p>
  <a name="task4"> </a>
  <p>
    <b>Step 4:</b> The <i>data source</i> creates and/or locates the desired records on its system.
  </p>
  <a name="task5"> </a>
  <p>
    <b>Step 5:</b> The <i>data source</i> updates the Task to reference the resources created and/or identified in step 5 as Task.output values and sets the Task status to <code>completed</code>.  (It is possible that outputs may be added over time through multiple updates before the Task is marked as complete.  If this happens, it is up to the <i>data consumer</i> whether to retrieve outputs as they are added or to wait until the Task is complete.)
  </p>
  <a name="task6"> </a>
  <p>
    <b>Step 6:</b> The <i>data consumer</i> retrieves the completed Task from the <i>data source</i> using either polling or a previously created Subscription.  Note that this can be combined with Step 7 below if the polling or subscription mechanism makes use of _include to retrieve the <code>Task.output</code> references at the same time as the Task is returned.  (Note that there is currently no standard search parameter to support such an _include.)
  </p>
  <a name="task7"> </a>
  <p>
    <b>Steps 7:</b> The <i>data consumer</i> then retrieves the resources referenced by <code>Task.output</code>.  This step can be omitted if the outputs are retrieved as part of the polling/subscription in Step 6.
  </p>
  <br/>
  <p>
    Additional Da Vinci-specific guidance on using Tasks for information retrieval can be found <a href="task.html">here</a>
  </p>
  
[%file newfooter%]
</body>
</html>