 <div id="segment-header" class="segment">  <!-- segment-header -->
  <div class="container">  <!-- container -->
   <a id="logo" no-external="true" href="http://hl7.org/fhir"><img alt="logo fhir" src="assets/images/fhir-logo-www.png"/> </a>
   <div id="hl7-status">
    <b>STU 2 Ballot</b> 
   </div>

   <div id="hl7-nav">
     <a id="hl7-logo" no-external="true" href="http://www.hl7.org">
     <img height="50" alt="visit the hl7 website" width="42" src="assets/images/hl7-logo.png"/>
    </a>
   </div>
   <div id="hl7-nav"><a id="hl7-logo" no-external="true" href="http://hl7.org/fhir/search.cfm"><img alt="Search FHIR" src="assets/images/search.png"/></a></div>
  </div>
  <div class="container">  <!-- container -->
 </div></div>  <!-- /segment-header -->

 <div id="segment-navbar" class="segment">  <!-- segment-navbar -->
  <div id="stripe"> </div>
  <div class="container">  <!-- container -->
   <!-- HEADER CONTENT -->

   <nav class="navbar navbar-inverse">
    <div class="container">
     <button data-target=".navbar-inverse-collapse" class="navbar-toggle" data-toggle="collapse" type="button">
      <span class="icon-bar"> </span>
      <span class="icon-bar"> </span>
      <span class="icon-bar"> </span>
     </button>
     <a class="navbar-brand hidden" href="{{site.data.fhir.path}}/index.html">FHIR</a>
     <div class="nav-collapse collapse navbar-inverse-collapse">
      <ul class="nav navbar-nav">
              <li><a href="{{site.data.fhir.path}}index.html">Home</a></li>
              <li><a href="{{site.data.fhir.path}}documentation.html">Documentation</a></li>
              <li><a href="{{site.data.fhir.path}}implementation.html">Implementation</a></li>
              <li><a href="{{site.data.fhir.path}}modules.html">Modules</a></li>
              <li><a href="{{site.data.fhir.path}}resourcelist.html">Resources</a></li>
              <li><a href="{{site.data.fhir.path}}profilelist.html">Profiles</a></li>
              <li><a href="{{site.data.fhir.path}}operations.html#defined">Operations</a></li>
              <li><a href="{{site.data.fhir.path}}servicelist.html">Services</a></li>
						</ul>      
      
     </div>  <!-- /.nav-collapse -->
    </div>  <!-- /.container -->
   </nav>  <!-- /.navbar -->

  <!-- /HEADER CONTENT -->
  </div>  <!-- /container -->
 </div>  <!-- /segment-navbar -->