<h3>Authors</h3>
<table class="grid">
    <thead>
        <tr>
            <td>
                <b>Author Name</b>
            </td>
            <td>
                <b>Email</b>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Rick Geimer</td>
            <td>rick.geimer@lantanagroup.com</td>
        </tr>
        <tr>
            <td>Sarah Gaunt</td>
            <td>sarah.gaunt@lantanagroup.com</td>
        </tr>
        <tr>
            <td>Brett Marquard</td>
            <td>brett@riverrockassociates.com</td>
        </tr>
        <tr>
            <td>Sean McIllvena</td>
            <td>sean.mcIllvena@lantanagroup.com</td>
        </tr>
        <tr>
            <td>Lisa Nelson</td>
            <td>lisarnelson@cox.net</td>
        </tr>
        
    </tbody>
</table>
