<p>This guide references the following code systems.</p>
<table class="codes">
    <thead>
        <tr>
            <td>
                <b>Name</b>
            </td>
            <td>
                <b>Definition</b>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>FHIR CompositionAttestationMode</td>
            <td><u>http://hl7.org/fhir/composition-attestation-mode</u><br /> The way in which a person authenticated a composition.</td>
        </tr>
        <tr>
            <td>LOINC</td>
            <td><a href="http://loinc.org" /></td>
        </tr>
        <tr>
            <td>HL7ActClass</td>
            <td>urn:oid:2.16.840.1.113883.5.6</td>
        </tr>
        <tr>
            <td>DCM</td>
            <td><u>urn:oid:1.2.840.10008.2.16.4</u><br /> DICOM</td>
        </tr>
    </tbody>
</table>
