<p>This guide references the following extensions.</p>
<table class="codes">
    <thead>
        <tr>
            <td>
                <b>Name</b>
            </td>
            <!--<td>
                <b>Definition</b>
            </td>-->
        </tr>
    </thead>
    <tbody>
        <tr>
            
            <td><a href="StructureDefinition-CCDA-on-FHIR-Data-Enterer.html">C-CDA on FHIR Data Enterer</a></td>
        </tr>
        <tr>
            <td><a href="StructureDefinition-CCDA-on-FHIR-Informant.html">C-CDA on FHIR Informant</a></td>
        </tr>
        <tr>
            <td><a href="StructureDefinition-CCDA-on-FHIR-Information-Recipient.html">C-CDA on FHIR Information Recipient</a></td>
        </tr>
        <tr>
            <td><a href="StructureDefinition-CCDA-on-FHIR-Participant.html">C-CDA on FHIR Participant</a></td>
        </tr>
        <tr>
            <td><a href="StructureDefinition-CCDA-on-FHIR-In-Fulfillment-Of-Order.html">C-CDA on FHIR In Fulfillment of Order</a></td>
        </tr>
        <tr>
            <td><a href="StructureDefinition-CCDA-on-FHIR-Performer.html">C-CDA on FHIR Performer</a></td>
        </tr>
        <tr>
            <td><a href="StructureDefinition-CCDA-on-FHIR-Authorization.html">CCDA on FHIR Authorization</a></td>

        </tr>
    </tbody>
</table>
