<p>This guide references the following value sets.</p>
<table class="codes">
    <thead>
        <tr>
            <td>
                <b>Name</b>
            </td>
            <td>
                <b>Definition</b>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <a href="ValueSet-v3-ConfidentialityClassification.html">v3-ConfidentialityClassification</a>
            </td>
            <td><u>http://hl7.org/fhir/ValueSet/v3-ConfidentialityClassification</u><br /> Set of codes used to value Act.Confidentiality and
                Role.Confidentiality attribute in accordance with the definition for concept domain "Confidentiality".</td>
        </tr>
        <tr>
            <td>
                <a href="ValueSet-2.16.840.1.113883.11.20.4.1.html">DischargeSummaryDocumentTypeCode</a>
            </td>
            <td><u>urn:oid:2.16.840.1.113883.11.20.4.1</u><br /> A value set of LOINC document codes for discharge summaries. Specific URL
                Pending</td>
        </tr>
        <tr>
            <td>
                <a href="ValueSet-2.16.840.1.113883.11.20.9.31.html">ConsultDocumentType</a>
            </td>
            <td><u>urn:oid:2.16.840.1.113883.11.20.9.31</u><br /> Specific URL Pending</td>
        </tr>
        <tr>
            <td>
                <a href="ValueSet-2.16.840.1.113883.1.11.20.2.3.html">ReferralDocumentType</a>
            </td>
            <td><u>urn:oid:2.16.840.1.113883.1.11.20.2.3</u><br /> A referral note provides a consulting physician specified patient information about
                the patient referred. Specific URL Pending</td>
        </tr>
        <tr>
            <td>
                <a href="ValueSet-2.16.840.1.113883.11.20.6.1.html">ProcedureNoteDocumentTypeCodes</a>
            </td>
            <td><u>urn:oid:2.16.840.1.113883.11.20.6.1</u><br /> A value set of LOINC document codes for Procedure Notes. Specific URL Pending</td>
        </tr>
        <tr>
            <td>
                <a href="ValueSet-2.16.840.1.113883.1.11.20.22.html">HPDocumentType</a>
            </td>
            <td><u>urn:oid:2.16.840.1.113883.1.11.20.22</u><br /> Specific URL Pending</td>
        </tr>
        <tr>
            <td>
                <a href="ValueSet-1.3.6.1.4.1.12009.10.2.5.html">LOINC Imaging Document Codes</a>
            </td>
            <td><u>urn:oid:1.3.6.1.4.1.12009.10.2.5</u><br /> A value set of LOINC document type codes for Diagnostic Imaging Reports.</td>
        </tr>
        <tr>
            <td>
                <a href="ValueSet-2.16.840.1.113883.11.20.9.59.html">DIRSectionTypeCodes</a>
            </td>
            <td><u>urn:oid:2.16.840.1.113883.11.20.9.59</u><br /> The Section Type codes used by DIR are all narrative document sections. The codes in
                this table are drawn from LOINC (http://www.loinc.org/) and DICOM (http://medical.nema.org/). The section/code should be selected from
                LOINC or DICOM for sections not listed in this table.</td>
        </tr>
        <tr>
            <td>
                <a href="ValueSet-2.16.840.1.113883.11.20.1.1.html">SurgicalOperationNoteDocumentTypeCode</a>
            </td>
            <td><u>urn:oid:2.16.840.1.113883.11.20.1.1</u><br /> Specific URL Pending</td>
        </tr>
        <tr>
            <td>
                <a href="ValueSet-2.16.840.1.113883.11.20.8.1.html">ProgressNoteDocumentTypeCode</a>
            </td>
            <td><u>urn:oid:2.16.840.1.113883.11.20.8.1</u><br /> Specific URL Pending</td>
        </tr>
    </tbody>
</table>