---
---
{% include fragment-pagebegin.html %}
<div class="col-12">
  <ul class="nav nav-tabs">
    <li>
      <a href="sdc-questionnaire-optionalDisplay.html">Content</a>
    </li>
    <li>
      <a href="sdc-questionnaire-optionalDisplay-definitions.html">Detailed Descriptions</a>
    </li>
    <li>
      <a href="sdc-questionnaire-optionalDisplay-mappings.html">Mappings</a>
    </li>
		<li class="active">
      <a href="#">Examples</a>
		</li>
    <li>
      <a href="sdc-questionnaire-optionalDisplay.profile.xml.html">XML</a>
    </li>
    <li>
      <a href="sdc-questionnaire-optionalDisplay.profile.json.html">JSON</a>
    </li>
    <li>
      <a href="sdc-questionnaire-optionalDisplay.profile.ttl.html">Turtle</a>
    </li>
  </ul>
  <a name="root"> </a>
  <h4 class="self-link-parent">
    <span class="sectioncount">{{site.data.pages[page.path].label}}.8</span> StructureDefinition: Can suppress from display to user - Examples 
    <a title="link to here" class="self-link" href="sdc-questionnaire-optionalDisplay-examples.html#root">
      <img src="assets/images/link.svg" class="self-link" width="20" height="20"/>
    </a>
  </h4>
  {% assign intro = site.data.pages[page.path].intro %}
  {% if site.data.pages[page.path].intro != null %}
  <div style="display:inline-block">
  {% include {{intro}} %}
  </div>
  {% endif %}
{% if site.data.pages[page.path].examples.size > 0 %}
  <p>Examples for the sdc-questionnaire-optionalDisplay Profile.</p>
  <table style="grid">
    <tbody>
      {% for example in site.data.pages[page.path].examples %}
        <tr>
          <td>
            <a href="{{example.url}}">{{example.title}}</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p><b>No examples are currently available for the {{id}} Profile.</b></p>
{% endif %}
  {% assign notes = site.data.pages[page.path].notes %}
  {% if site.data.pages[page.path].notes != null %}
  <div style="display:inline-block">
  {% include {{notes}} %}
  </div>
  {% endif %}
</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}