---
---
{% include fragment-pagebegin.html %}
<div class="col-12">
  <ul class="nav nav-tabs">
    <li>
      <a href="sdc-questionnaireresponse.html">Content</a>
    </li>
    <li>
      <a href="sdc-questionnaireresponse-definitions.html">Detailed Descriptions</a>
    </li>
    <li class="active">
      <a href="#">Mappings</a>
    </li>
		<li>
			<a href="sdc-questionnaireresponse-examples.html">Examples</a>
		</li>
    <li>
      <a href="sdc-questionnaireresponse.profile.xml.html">XML</a>
    </li>
    <li>
      <a href="sdc-questionnaireresponse.profile.json.html">JSON</a>
    </li>
    <li>
      <a href="sdc-questionnaireresponse.profile.ttl.html">Turtle</a>
    </li>
  </ul>
  <a name="root"> </a>
  <h4 class="self-link-parent">
    <span class="sectioncount">{{site.data.pages[page.path].label}}.7</span> StructureDefinition: Structured Data Capture Data Capture - Mappings 
    <a title="link to here" class="self-link" href="sdc-questionnaireresponse-mappings.html#root">
      <img src="assets/images/link.svg" class="self-link" width="20" height="20"/>
    </a>
  </h4>
  <p>Mappings for the {{id}} Profile.</p>
  {%include StructureDefinition-sdc-questionnaireresponse-maps.xhtml%}
</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}