---
---
{% include fragment-pagebegin.html %}
<div class="col-12">
  <ul class="nav nav-tabs">
    <li>
      <a href="sdc-questionnaireresponse.html">Content</a>
    </li>
    <li>
      <a href="sdc-questionnaireresponse-definitions.html">Detailed Descriptions</a>
    </li>
    <li>
      <a href="sdc-questionnaireresponse-mappings.html">Mappings</a>
    </li>
		<li>
			<a href="sdc-questionnaireresponse-examples.html">Examples</a>
		</li>
    <li class="active">
      <a href="#">XML</a>
    </li>
    <li>
      <a href="sdc-questionnaireresponse.profile.json.html">JSON</a>
    </li>
    <li>
      <a href="sdc-questionnaireresponse.profile.ttl.html">Turtle</a>
    </li>
  </ul>
  <a name="root"> </a>
  <h4 class="self-link-parent">
    <span class="sectioncount">{{site.data.pages[page.path].label}}.9</span> StructureDefinition: Structured Data Capture Data Capture - XML Profile 
    <a title="link to here" class="self-link" href="sdc-questionnaireresponse.profile.xml.html#root">
      <img src="assets/images/link.svg" class="self-link" width="20" height="20"/>
    </a>
  </h4>
  <p>XML representation of the sdc-questionnaireresponse Profile.</p>
  {%include StructureDefinition-sdc-questionnaireresponse-xml-html.xhtml%}
</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}