---
category: home
---
<!DOCTYPE HTML>
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta charset="UTF-8">
  <title>HSPC Implementation Guide</title>
  {% include header.html %}
</head>
<body>
{% include navbar.html %}

 <div id="segment-content" class="segment">  <!-- segment-content -->
 <div class="container">  <!-- container -->
            <div class="row">
             <div class="inner-wrapper">
  <!-- CONTENT CONTENT -->

<div class="col-9">

<h1>HSPC Implementation Guide</h1>

<ul>
 <li><a href="profiles.html">Profiles</a></li>
 <li><a href="extensions.html">Extensions</a></li>
 <li><a href="valuesets.html">Value Sets</a></li>
 <li><a href="codesystems.html">Code Systems</a></li>
</ul>

</div>

    </div>  <!-- /inner-wrapper -->
            </div>  <!-- /row -->
        </div>  <!-- /container -->

    </div>  <!-- /segment-content -->

{% include footer.html %}
</body>
</html>